<!-- Card Section -->

<section class="pt-130 pb-90 vpn-patern">
  <div class="container" data-animate="fadeInUp" data-delay="1.05">
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-8">
        <!-- section title -->
        <div class="section-title text-center mb-30">
          <h2 class="about-page-title">Program Cicilan</h2>
          <div class="container pt-30">
            <h3>
              Jangan khawatir buat kamu yang mempunyai masalah dalam biaya
              keuangan, Nextbyte mempunyai rekan finansial untuk memfasilitasi
              kamu dalam mengikuti kelas di Nextbyte.
            </h3>
          </div>
        </div>
        <!-- End of section title -->
        <div class="row">
          <div class="container">
            <div class="wrapper">
              <div class="pricing-content">
                <div class="PageWidth">
                  <div class="pricing-detail-content">
                    <div class="pricing-item col-xl-4">
                      <div class="pricing-item-box">
                        <div class="card-title">DANA CITA</div>

                        <div class="plan-price-content">
                          <div class="plan-price">
                            1.00% - 1.75%<span class="month-text"> /month</span>
                          </div>
                        </div>

                        <div class="plan-features pb-80">
                          <div class="plan-feature-item">
                            Tidak ada biaya pelunasan awal
                          </div>
                          <div class="plan-feature-item">
                            Biaya persetujuan kredit 3%
                          </div>
                          <div class="plan-feature-item">
                            100rb biaya administrasi
                          </div>
                          <div class="plan-feature-item">
                            Durasi 12 bulan
                          </div>
                        </div>

                        <div class="plan-price-content">
                          <span class="month-text">syart dan ketentuan</span>
                        </div>

                        <div class="plan-feature-item">
                          Mempunyai KTP
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Card Section -->
