<!-- footer type5-->
<footer class="footer-type5 pt-80 footer-bg-h6">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <!-- single widget -->
        <div class="footer-widget">
          <!-- footer logo -->
          <div class="footer-logo">
            <a href="/" title="Nextbyte Logo">
              <img src="img/logo-white.png" alt="Footer logo" />
            </a>
          </div>
          <!--End of footer logo -->
          <div class="footer-about-text">
            <p>
              Subscribe to the newsletter to be informed of recent news.
            </p>
          </div>
          <!-- footer mail -->
          <div class="footer-mail parsley-validate">
            <form id="footer-form-email" class="footer-form" novalidate>
              <input
                id="footer-email"
                type="email"
                placeholder="type your email here"
                required
              />
              <button type="submit">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </button>
            </form>
          </div>
          <!--End of footer mail -->
        </div>
        <!--End of single widget -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <!-- single widget -->
        <div class="footer-widget">
          <!-- footer header -->
          <div class="footer-header">
            <h5>Related Links</h5>
            <div class="unerline">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!--End of footer header -->
          <div class="footer-link">
            <div class="link-left">
              <a href="/about" title="About Us"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>About Us
              </a>
              <a href="/faq" title="FAQ"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>FAQ</a
              >
              <a href="/contact" title="Contact Us"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>Contact
                Us</a
              >
              <a
                title="Download Our App"
                target="__blank"
                href="https://play.google.com/store/apps/details?id=com.apps.nextbyte_champion"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>Download
                Our App</a
              >
            </div>
            <div class="link-right">
              <a href="/website" title="Website Development"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>Website</a
              >
              <a href="/mobile" title="Mobile Development"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>Mobile</a
              >
            </div>
          </div>
        </div>
        <!--End of single widget -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <!-- single widget -->
        <div class="footer-widget">
          <!-- footer header -->
          <div class="footer-header">
            <h5>Contact</h5>
            <div class="unerline">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!--End of footer header -->
          <div class="footer-about-text">
            <p>
              Mon - Friday<br />
              09.00 - 18.00
            </p>
          </div>
          <!-- contact list -->
          <div class="footer-contact-wrap">
            <ul class="footer-contact-list list-unstyled">
              <li>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                Wisma Amex Jalan Melawai Raya, RT.4/RW.5, Melawai, Kby. Baru
              </li>
              <li>
                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                021 2751 0617
              </li>
              <li>
                <a
                  title="WhatsApp Us"
                  target="_blank"
                  href="https://api.whatsapp.com/send?phone=6281212868664&text=Terima%20kasih%20telah%20menghubungi%20Nextbyte!%20Ada%20yang%20bisa%20kami%20bantu?"
                >
                  <span>
                    <i class="fab fa-whatsapp" aria-hidden="true"></i>
                  </span>
                  +62 812 1286 8664</a
                >
              </li>
              <li>
                <a
                  title="Email Us"
                  target="_blank"
                  href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=info@nextbyte.co&tf=1"
                >
                  <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  info@nextbyte.co
                </a>
              </li>
            </ul>
          </div>
          <!--End of contact list -->
        </div>
        <!--End of single widget -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-social-area">
          <ul class="footer--social-list text-center list-unstyled">
            <li>
              <a
                href="https://www.facebook.com/nextbyteco/"
                target="_blank"
                title="Nextbyte Facebook"
                ><i class="fab fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://twitter.com/nextbyteco"
                target="_blank"
                title="Nextbyte Twitter"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/nextbyte_co/"
                target="_blank"
                title="Nextbyte Instagram"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/nextbyteco/about/"
                title="Nextbyte LinkedIn"
                target="_blank"
                ><i class="fab fa-linkedin" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-bottom-wrap">
          <!-- footer bottom text -->
          <div class="footer-bottom-text">
            <p>
              © Copyright<strong
                ><a href="/" title="Nextbyte"> Nextbyte </a></strong
              >,2019.
            </p>
          </div>
          <!-- End of footer bottom text-->

          <!-- tarms coandition -->
          <div class="tarms-condition">
            <ul class="list-unstyled">
              <li>
                <a
                  class="footer-a"
                  href="/term-and-conditions"
                  title="Terms and Conditions"
                  >Terms and Conditions</a
                >
              </li>
              <li>
                /
              </li>
              <li>
                <a
                  class="footer-a"
                  href="/privacy-policy"
                  title="Privacy Policy"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </div>
          <!--End of tarms coandition -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End of footer -->
