<!-- Meta for SEO -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<meta
  property="og:title"
  content="Bekerja menjadi Software Developer dalam 10 minggu"
/>
<meta
  property="og:description"
  content="Nextbyte adalah sebuah lembaga kursus 'semi coding bootcamp' yang
bertujuan membantu kamu untuk menjadi programmer yang professional, yang
siap kerja dan bisa beradapatasi dengan industri digital. Di Nextbyte,
Kami akan membantu kamu untuk menemukan jati diri kamu di industri
digital, sehingga kamu bisa lebih fokus dan passionate dalam menjalani
peran mereka masing-masing di industri digital."
/>
<meta property="og:url" content="https://nextbyte.co" />
<meta property="og:site_name" content="Nextbyte" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="Nextbye - Coding Bootcamp in Jakarta" />
<meta name="twitter:site" content="@nextbyteco" />
<meta name="twitter:title" content="Nextbye - Coding Bootcamp" />
<meta
  name="twitter:description"
  content="Nextbyte adalah sebuah lembaga kursus 'semi coding bootcamp' yang
bertujuan membantu kamu untuk menjadi programmer yang professional, yang
siap kerja dan bisa beradapatasi dengan industri digital."
/>
<meta name="twitter:creator" content="@nextbyteco" />

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<!-- Document Title -->
<title>Nextbyte - Unlock Your Coding Skill for Freedom with Nextbyte</title>

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="img/favicon.png" />

<!-- CSS Files -->
<!--==== Google Fonts ====-->
<link
  href="https://fonts.googleapis.com/css?family=Dosis:500,600,700,800&&Poppins:300,400,500,600,900"
  rel="stylesheet"
/>

<!--==== Bootstrap css file ====-->
<link rel="stylesheet" href="css/bootstrap.min.css" />

<!--==== Font-Awesome css file ====-->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>

<!-- Owl Carusel css file -->
<link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css" />

<!-- Magnific-Popup css file -->
<link rel="stylesheet" href="plugins/Magnific-Popup/magnific-popup.css" />

<!--==== Style css file ====-->
<link rel="stylesheet" href="css/style.css" />

<!--==== Responsive css file ====-->
<link rel="stylesheet" href="css/responsive.css" />

<!--==== Custom css file ====-->
<link rel="stylesheet" href="css/custom.css" />
<link rel="stylesheet" href="css/mystyle.css" />
