<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Document Title -->
  <title>Nextbyte - Unlock Your Coding Skill for Freedom with Nextbyte</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />

  <!-- CSS Files -->
  <!--==== Google Fonts ====-->
  <link
    href="https://fonts.googleapis.com/css?family=Dosis:500,600,700,800&&Poppins:300,400,500,600,900"
    rel="stylesheet"
  />

  <!--==== Bootstrap css file ====-->
  <link rel="stylesheet" href="css/bootstrap.min.css" />

  <!--==== Font-Awesome css file ====-->
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <!-- <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
  /> -->

  <!-- Owl Carusel css file -->
  <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css" />

  <!-- Magnific-Popup css file -->
  <link rel="stylesheet" href="plugins/Magnific-Popup/magnific-popup.css" />

  <!--==== Style css file ====-->
  <link rel="stylesheet" href="css/style.css" />

  <!--==== Responsive css file ====-->
  <link rel="stylesheet" href="css/responsive.css" />

  <!--==== Custom css file ====-->
  <link rel="stylesheet" href="css/custom.css" />
  <link rel="stylesheet" href="css/mystyle.css" />
</head>
