<!-- Main header -->
<header class="header">
  <!-- Start Header Navbar-->
  <div class="main-header main-header6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-2 col-md-4 col-sm-5 col-7">
          <!-- Logo -->
          <div class="logo" data-animate="fadeInUp" data-delay=".65">
            <a href="/" title="Nextbyte Logo">
              <img
                class="default-logo"
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706314/nextbyte-web/logo_mtzfjl.png"
                data-rjs="2"
                alt="crypdrone"
              />
              <img
                class="sticky-logo"
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706314/nextbyte-web/logo_mtzfjl.png"
                data-rjs="2"
                alt="crypdrone"
              />
            </a>
          </div>
          <!-- End of Logo -->
        </div>
        <div class="col-xl-9 col-lg-10 col-md-8 col-sm-7 col-5 menu-button">
          <div class="menu--inner-area clear-fix">
            <div class="menu-wraper">
              <nav data-animate="fadeInUp" data-delay=".80">
                <!-- Header-menu -->
                <div class="header-menu dosis">
                  <ul>
                    <li class="homeCss"><a href="/" title="Home">Home</a></li>
                    <li class="aboutCss" value="aboutcss">
                      <a href="/about" title="About Us">About</a>
                    </li>
                    <li class="programsCss">
                      <a href="#" title="Our Programs"
                        >Programs<i
                          class="fa fa-angle-down"
                          aria-hidden="true"
                        ></i
                      ></a>
                      <ul>
                        <li class="mobileCss">
                          <a href="/mobile" title="Mobile Development"
                            >Mobile Development</a
                          >
                        </li>
                        <li class="websiteCss">
                          <a href="/website" title="Website Development"
                            >Website Development</a
                          >
                        </li>
                        <li class="backendCss">
                          <a href="/backend" title="Backend Development"
                            >Backend Development</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="faqCss">
                      <a href="/faq" title="FAQ">FAQ </a>
                    </li>
                    <li class="contactCss">
                      <a href="/contact" title="Contact Us">Contact</a>
                    </li>
                  </ul>
                </div>
                <!-- End of Header-menu -->
              </nav>
            </div>
          </div>
          <!-- signup/singout button -->
          <div
            class="signup--out-btn text-right"
            data-animate="fadeInUp"
            data-delay="1"
          >
            <a
              title="Download Our App"
              target="__blank"
              href="https://play.google.com/store/apps/details?id=com.apps.nextbyte_champion"
              class="d-block waves-effect"
              ><i class="fa fa-download" aria-hidden="true"></i
              ><span>Download Aplikasi</span></a
            >
          </div>
          <!--End of signup/singout button -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Navbar-->
</header>
<!-- End of Main header -->
