<!-- Main header -->
<header class="header">
  <!-- Start Header Navbar-->
  <div class="main-header main-header6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-2 col-md-4 col-sm-5 col-7">
          <!-- Logo -->
          <div class="logo" data-animate="fadeInUp" data-delay=".65">
            <a href="/">
              <img
                class="default-logo"
                src="img/logo.png"
                data-rjs="2"
                alt="crypdrone"
              />
              <img
                class="sticky-logo"
                src="img/logo.png"
                data-rjs="2"
                alt="crypdrone"
              />
            </a>
          </div>
          <!-- End of Logo -->
        </div>
        <div class="col-xl-9 col-lg-10 col-md-8 col-sm-7 col-5 menu-button">
          <div class="menu--inner-area clear-fix">
            <div class="menu-wraper">
              <nav data-animate="fadeInUp" data-delay=".80">
                <!-- Header-menu -->
                <div class="header-menu dosis">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li>
                      <a href="/programs"
                        >Programs<i
                          class="fa fa-angle-down"
                          aria-hidden="true"
                        ></i
                      ></a>
                      <ul>
                        <li><a href="/mobile">Mobile Development</a></li>
                        <li>
                          <a href="/website">Website Development</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="/faq">FAQ </a>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                  </ul>
                </div>
                <!-- End of Header-menu -->
              </nav>
            </div>
          </div>
          <!-- signup/singout button -->
          <div
            class="signup--out-btn text-right"
            data-animate="fadeInUp"
            data-delay="1"
          >
            <a
              target="__blank"
              href="https://play.google.com/store/apps/details?id=com.apps.nextbyte_champion"
              class="d-block waves-effect"
              ><i class="fa fa-download" aria-hidden="true"></i
              ><span>Download Our App</span></a
            >
          </div>
          <!--End of signup/singout button -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Navbar-->
</header>
<!-- End of Main header -->
