<section class="pt-60 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h2 class="reglink-title align-right">Tertarik bergabung?</h2>
      </div>
      <div class="col-md-5 align-left">
        <a href="/register" class="reglink-text">Daftar disini!</a>
      </div>
    </div>
  </div>
</section>
