<!-- back to top -->
<div class="back-to-top">
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- back to top -->

<!-- JS Files -->
<!-- ==== JQuery 3.3.1 js file==== -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- ==== Bootstrap js file==== -->
<script src="js/bootstrap.bundle.min.js"></script>

<!-- ==== JQuery Waypoint js file==== -->
<script src="plugins/waypoints/jquery.waypoints.min.js"></script>

<!-- ==== Parsley js file==== -->
<script src="plugins/parsley/parsley.min.js"></script>

<!-- ==== Ratina js file==== -->
<script src="plugins/retinajs/retina.min.js"></script>

<!-- ==== parallax js==== -->
<script src="plugins/parallax/parallax.js"></script>

<!-- ==== Owl Carousel js file==== -->
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>

<!-- ====Count down==== -->
<script src="plugins/countdown/jquery.countdown.min.js"></script>

<!-- ====Chart js file ==== -->
<script src="plugins/chart-js/echarts.min.js"></script>

<!-- ==== Menu  js file==== -->
<script src="js/menu.min.js"></script>

<!-- ====Magnific-Popup js file==== -->
<script src="plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

<!-- ====Counter js file=== -->
<script src="plugins/waypoints/jquery.counterup.min.js"></script>

<!--==== google map api key ====-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>

<!-- ====matrial js file==== -->
<script src="js/matrial.js"></script>

<!-- ==== Script js file==== -->
<script src="js/scripts.js"></script>

<!-- ==== Custom js file==== -->
<script src="js/custom.js"></script>
