      <!-- testimonial -->
      <section class="pt-130 pb-130 home6-team-bg">
         <div class="container">
           <div class="row justify-content-center">
             <div class="col-xl-12 col-lg-8">
               <!-- section title -->
               <div class="section-title text-center mb-30">
                 <h2>Testimonial</h2>
                 <div class="underline-wrap">
                   <div class="unerline">
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                   </div>
                 </div>
               </div>
               <!-- End of section title -->
             </div>
           </div>
           <div class="row">
             <div class="col-12">
               <!-- testimonial wrap type4-->
               <div class="testimonial-wrap type4">
                 <div class="owl-carousel testimonial-carousel">
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/panji.jpg" alt="panji" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Panji Gumelar</h4>
                           <p>Software Engineer</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="panji-quote" />
                         </span>
                         <p>
                           “Software Developer who are passionate about building
                           Web or Mobile Applications. Science and technology
                           revolutionize our lives, but memory, tradition and
                           myth frame our response.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
 
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/gatot.jpg" alt="gatot" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Azerino Gatot Subroto</h4>
                           <p>Software Engineer</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="gatot-quote" />
                         </span>
                         <p>
                           “This is the whole point of technology. It creates an
                           appetite for immortality on the one hand. It threatens
                           universal extinction on the other. Technology is lust
                           removed from nature.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/arsyad.jpg" alt="arsyad" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Arsyad Sukma Ramadhan</h4>
                           <p>Software Engineer</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="arsyad-quote" />
                         </span>
                         <p>
                           “All of the biggest technological inventions created
                           by man - the airplane, the automobile, the computer -
                           says little about his intelligence, but speaks volumes
                           about his laziness.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/raga.jpg" alt="raga" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Raga Subekti</h4>
                           <p>Software Engineer</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="raga-quote" />
                         </span>
                         <p>
                           “The real danger is not that computers will begin to
                           think like men, but that men will begin to think like
                           computers.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/daud.jpg" alt="daud" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Immanuel Daud</h4>
                           <p>Lead Software Engineer</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="daud-quote" />
                         </span>
                         <p>
                           “Experienced Frontend Web Developer with a
                           demonstrated history of working in the logistics and
                           supply chain industry. Skilled in React.js, Redux,
                           Express.js and MySQL. Graduated from Purwadhika
                           Startup School.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/ali.jpg" alt="ali" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Ali Aidid</h4>
                           <p>Head of Product & Operation</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="ali-quote" />
                         </span>
                         <p>
                           “Experienced IT Support, Technician, and Software
                           Engineer. Now i'm Focus on Nextbyte.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/davi.jpg" alt="davi" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Rachmad Isdawan Saputra</h4>
                           <p>Chief Executive Officer</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="davi-quote" />
                         </span>
                         <p>
                           “High passionate man with fully spirit of building
                           social impact through technology. Constantly works in
                           digital business which contribute to support the
                           cities by utilizing which contribute to support the
                           cities by.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/fuadit.jpg" alt="fuadit" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Fuadit Muhammad</h4>
                           <p>Chief Technology Officer</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="fuadit-quote" />
                         </span>
                         <p>
                           “Start from curiosity became deep passion of
                           programming bring his carier to the next level.
                           Involving in many startups building made his
                           experiences wilder.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/eko.jpg" alt="eko" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Rachmad Eko Pranoto</h4>
                           <p>Advisor</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="eko-quote" />
                         </span>
                         <p>
                           “With daily activity as a lecturer at Politeknik
                           Negeri Jakarta he also worked as a digital branding
                           consultant and founder of Thincative Digital Media.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/michael.jpg" alt="michael" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Michael Irsano</h4>
                           <p>Advisor</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="michael-quote" />
                         </span>
                         <p>
                           “With great experience in multisector industries,
                           making he has a lot of user experience that will bring
                           the team stronger and sharper.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                   <!-- single item -->
                   <div class="item">
                     <div class="single-testimoial">
                       <!-- testimonial head -->
                       <div class="testimonial-head media">
                         <div class="testimonial-head-img">
                           <img src="img/team/dani.jpg" alt="dani" />
                         </div>
                         <div class="testimonial--head-text media-body">
                           <h4>Dani Rakhmadi</h4>
                           <p>Advisor</p>
                         </div>
                       </div>
                       <!--End of testimonial head -->
 
                       <!-- testimonial body -->
                       <div class="testimonial-body">
                         <span>
                           <img src="img/icons/quote.svg" alt="dani-quote" />
                         </span>
                         <p>
                           “As a leading senior that has speciality in
                           information technology and communication, he has moe
                           than 10 years of experience and knowledge combined in
                           test & measurement, direction finding, IT Solution in
                           Govt and Cellular Industry.”
                         </p>
                       </div>
                       <!-- End of testimonial body -->
                     </div>
                   </div>
                   <!--End of single item -->
                 </div>
               </div>
               <!--End of testimonial wrap -->
             </div>
           </div>
         </div>
       </section>
       <!-- End of testimonial -->