<!-- timelines  -->
<div class="mt-5 pt-5 mb-5 pb-5">
      <div
        data-animate="fadeInUp"
        data-delay="0.70"
        class="section-title text-center mb-30"
      >
        <h2 class="about-page-title">Program Sylabus</h2>
        <h4 class="about-page-title2">Backend Development</h4>
        <div class="underline-wrap">
          <div class="unerline">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
        <div data-animate="fadeInUp" data-delay="1.05" class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="main-timelinesWeb">
                <a class="timelines">
                  <div class="timelines-icon"><i class="fa fa-code"></i></div>
                  <div class="timelines-content">
                    <h3 class="title">Computer Science & Fundamentals</h3>
                    <p class="description">
                        Sebelum masuk ke tahap pemrograman, kamu akan diberikan
                        pengetahuan dasar mengenai ilmu komputer & mengenai bahasa
                        pemrograman yang akan dipakai pada saat masuk ke tahap
                        pemrograman.    
                    </p>
                  </div>
                </a>
                <a class="timelines">
                  <div class="timelines-icon">
                    <img
                      src="https://res.cloudinary.com/nextbyteco/image/upload/v1555421481/nextbyte.co/logo/img_js_ss85fv.png"
                      class="img-fluid pt-2"
                      alt="JavaScript Logo"
                      title="JavaScript"
                    />
                  </div>
                  <div class="timelines-content">
                    <h3 class="title">JavaScript</h3>
                    <p class="description">
                        Kamu akan mempelajari dasar bahasa pemrograman Javascript
                        dan kamu akan dikenalkan dengan dunia API(Application
                        Programming Interface).    
                    </p>
                  </div>
                </a>
                <a class="timelines">
                  <div class="timelines-icon">
                    <img
                      src="https://res.cloudinary.com/nextbyteco/image/upload/v1555421483/nextbyte.co/logo/mysql_csufz8.png"
                      class="img-fluid pt-1"
                      alt="MySQL Logo"
                      title="MySQL"
                    />
                  </div>
                  <div class="timelines-content">
                    <h3 class="title">MySQL</h3>
                    <p class="description">
                        Kamu akan mempelajari bahasa pemrograman database yaitu
                        MySQL. Mulai dari syntax SQL, sampai arsitektur database
                        yang baik dengan beragam business model.    
                    </p>
                  </div>
                </a>
                <a class="timelines">
                  <div class="timelines-icon">
                    <img
                      src="https://res.cloudinary.com/nextbyteco/image/upload/v1555421480/nextbyte.co/logo/expressjs_h2yxjh.png"
                      class="img-fluid"
                      alt="Express Logo"
                      title="Express"
                    />
                  </div>
                  <div class="timelines-content">
                    <h3 class="title">Express</h3>
                    <p class="description">
                        Kamu akan mulai belajar Framework Express dari NodeJS yang
                        bertujuan agar bisa menyambungkan database ke API dan
                        menghasilkan satu endpoint yang akan menampillkan data dari
                        beberapa table di database dalam bentuk format JSON.    
                    </p>
                  </div>
                </a>
                <a class="timelines">
                  <div class="timelines-icon">
                    <img
                      src="https://res.cloudinary.com/nextbyteco/image/upload/v1555421483/nextbyte.co/logo/mysql_csufz8.png"
                      class="img-fluid logo-responsive3"
                      alt="MongoDB Logo"
                      title="MongoDB"
                    />
                  </div>
                  <div class="timelines-content">
                    <h3 class="title">MongoDB</h3>
                    <p class="description">
                      Kamu akan mempelajari bahasa pemrograman database NoSQL yaitu MongoDB.
                      Syntaxnya yang familiar membuat MongoDB mudah dipelajari,
                       karena MongoDB menggunakan konsep yang dinamakan 'Collection' dibanding SQL yang memekai konsep 'Table'.
                    </p>
                  </div>
                </a>
                <a class="timelines">
                  <div class="timelines-icon">
                    <i class="fa fa-laptop-code"></i>
                  </div>
                  <div class="timelines-content">
                    <h3 class="title">Final Project</h3>
                    <p class="description">
                        Peserta dari Front-End Mobile, Front-End Web, dan Backend
                        akan digabungkan lalu dipecah menjadi beberapa kelompok yang
                        bertujuan untuk membuat final project bersama-sama.    
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    