<!-- What You Will Get -->
<section class="pt-100 pb-100 home6-section-bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- included every package -->
        <div class="included-every-wrap type2">
          <h3 data-animate="fadeInUp" data-delay="0.6">
            Benefit Lain Apa Yang Akan Kamu Dapatkan ?
          </h3>
          <ul data-animate="fadeInUp" data-delay="0.7" class="list-unstyled">
            <li>
              <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
              Kesempatan untuk dilirik perusahaan besar rekanan nextbyte
            </li>
            <li>
              <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
              Buku catatan dan bolpoin Nextbyte
            </li>
            <li>
              <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
              Makan siang gratis selama kelas 1 bulan
            </li>
            <li>
              <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
              Jumper / Sweater Nextbyte
            </li>
          </ul>
          <section class="align-center">
            <ul data-animate="fadeInUp" data-delay="0.8" class="list-unstyled">
              <li>
                <span
                  ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                ></span>
                Sertifikat Nextbyte
              </li>
              <li>
                <span
                  ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                ></span>
                Sticker Nextbyte
              </li>
              <li>
                <span
                  ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                ></span>
                Kopi gratis sepuasnya
              </li>
            </ul>
          </section>
        </div>
        <!-- End of included every package -->
      </div>
    </div>
  </div>
</section>
<!-- End of What You Will Get -->
