<!-- How To Use Crypdrone Token -->
<section class="pt-140 pb-140 home6-section-bg">
   <div class="container">
       <div class="row">
           <div class="col-lg-6">
               <div class="use--crypdrone-wrap">
                    <!-- heading title type2 -->
                   <div class="section-title-type2">
                       <img src="img/icons/exlamation.png" alt="">
                       <h2>Benfit Mengikuti Fullstack Web Development Program</h2>
                   </div>
                   <!--End of heading title type2 -->

                   <!-- use crypdrone token -->
                   <div class="use-crypdrone-token">
                       <p>Selain jaminan karir yang cemerelang, berikut adalah beberapa benefit yang akan kamu dapatkan jika kamu mengikuti Fullstack Web Development Program ini sampai selesai.</p>
                       <!-- single use crypdrone token-->
                       <div class="single-use-crypdrone media">
                           <div class="use-crypdrone-icon">
                               <img src="img/icons/use-token3.svg" alt="" class="svg">
                           </div>
                           <div class="use-crypdrone-details media-body">
                                <h4>Mampu Membuat Aplikasi Web Statis dan Dinamis</h4>
                                <p>Kamu dapan membuat berbagai jenis website, membuatnya dari nol sampai deployment ke web server/hosting.</p>
                           </div>
                       </div>
                       <!-- End of single use crypdrone token-->

                        <!-- single use crypdrone token-->
                       <div class="single-use-crypdrone media">
                           <div class="use-crypdrone-icon">
                               <img src="img/icons/use-token3.svg" alt="" class="svg">
                           </div>
                           <div class="use-crypdrone-details media-body">
                                <h4>Dapat Bekerja Secara Mandiri</h4>
                                <p>Dengan memiliki skill secara fullstack, kamu bisa membuat produk sendiri atau bekerja secara remote.</p>
                           </div>
                       </div>
                       <!-- End of single use crypdrone token-->

                        <!-- single use crypdrone token-->
                       <div class="single-use-crypdrone media">
                           <div class="use-crypdrone-icon">
                               <img src="img/icons/use-token3.svg" alt="" class="svg">
                           </div>
                           <div class="use-crypdrone-details media-body">
                              <h4>Memilih Role sesuai Passion</h4>
                              <p class="m-0">Setelah kamu mengikuti kelas ini, kamu dapat menentukan role kamu. Apakah sebagai Fullstack Developer, Frontend Developer ataupun Backend Developer.</p>
                           </div>
                       </div>
                       <!-- End of single use crypdrone token-->
                   </div>
                   <!--End of use crypdrone token -->
               </div>
           </div>
           <div class="col-lg-6">
               <!-- crypdrone animate image -->
               <div class="crypdrone-token-image">
                   <img src="https://res.cloudinary.com/nextbyte-co/image/upload/v1559032644/nextbyte-web/programs/mobile_eipdca.png" alt="">
               </div>
               <!--End of crypdrone animate image -->
           </div>
       </div>
   </div>
</section>
<!--End of How To Use Crypdrone Token -->