<!-- start zigzag area type2 -->
<section>
  <div class="zigzag-inner type2 pt-50 pb-50" data-bg-img="img/syllabus.png">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6">
          <!-- zigzag wrap -->
          <div class="zigzag-wrap">
            <h3>
              Penasaran dengan materi kurikulum Nextbyte?<br />Download Silabus
              disini!
            </h3>
            <p>
              Dapatkan silabus pembelajaran lengkap tentang Mobile Development
              dan Web Development. Anda akan mendapatkan berita dan info tentang
              teknologi terbaru yang menarik dari kami.
            </p>
            <form action="" method="post" novalidate>
              <!-- form group -->
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  class="syllabus-style-input"
                  placeholder="Email Kamu..."
                  required
                />
              </div>
            </form>
            <a href="#" class="btn btn-transparent style-1 waves-effect"
              >Download</a
            >
          </div>
          <!-- End of zigzag wrap -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of zigzag area type2 -->
