<!-- timelines  -->
<div class="mt-5 pt-5 mb-5 pb-5">
    <div
        data-animate="fadeInUp"
        data-delay="0.70"
        class="section-title text-center mb-30"
    >
        <h2 class="about-page-title">Program Sylabus</h2>
        <h4 class="about-page-title2">Frontend Development</h4>
        <div class="underline-wrap">
        <div class="unerline">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        </div>
    </div>
        <div data-animate="fadeInUp" data-delay="1.05" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timelinesWeb">
                    <a class="timelines">
                        <div class="timelines-icon"><i class="fa fa-code"></i></div>
                        <div class="timelines-content">
                            <h3 class="title">Computer Science & Fundamentals</h3>
                            <p class="description">
                            Sebelum masuk ke tahap pemrograman, kamu akan diberikan
                            pengetahuan dasar mengenai ilmu komputer & mengenai bahasa
                            pemrograman yang akan dipakai pada saat masuk ke tahap
                            pemrograman.
                            </p>
                        </div>
                    </a>
                    <a class="timelines">
                    <div class="timelines-icon">
                        <img
                        src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706324/nextbyte-web/programs/html-css-js_hot6po.png"
                        class="img-fluid pt-2"
                        alt="Html Css JavaScript"
                        title="Html Css JavaScript"
                        />
                    </div>
                    <div class="timelines-content">
                        <h3 class="title">HTML, CSS & JavaScript</h3>
                        <p class="description">
                        Kamu akan mempelajari bahasa pemrograman static yang sangat
                        mudah yaitu HTML & CSS. Dan kamu juga akan mempelajari Bahasa
                        pemrograman JavaScript.
                        </p>
                    </div>
                    </a>
                    <a class="timelines">
                    <div class="timelines-icon">
                        <img
                        src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706323/nextbyte-web/programs/reactjs_t3o1gs.png"
                        class="img-fluid pt-1"
                        alt="React Logo"
                        title="React"
                        />
                    </div>
                    <div class="timelines-content">
                        <h3 class="title">React JS: Web UI Framework</h3>
                        <p class="description">
                        Kamu akan mempelajari framework React. Kamu akan belajar apa
                        saja komponen-komponen yang penting dalam pembuatan web
                        menggunakan React.
                        </p>
                    </div>
                    </a>
                    <a class="timelines">
                    <div class="timelines-icon">
                        <img
                        src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706316/nextbyte-web/programs/redux_ifk5cp.png"
                        class="img-fluid"
                        alt="Redux Logo"
                        title="Redux"
                        />
                    </div>
                    <div class="timelines-content">
                        <h3 class="title">Middleware: Redux</h3>
                        <p class="description">
                        Middleware Class: Kamu akan belajar open source library untuk
                        state management yang lebih high-performance, yaitu Redux,
                        yang nanti akan disesuaikan tergantung dari kemampuan kamu
                        terhadap hasil pembelajaran sebelumnya.
                        </p>
                    </div>
                    </a>
                    <a class="timelines">
                    <div class="timelines-icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <div class="timelines-content">
                        <h3 class="title">Final Project</h3>
                        <p class="description">
                        Kamu akan membuat Final Project sebagai implementasi dari 
                        hasil belajar kamu. Kamu akan membuat aplikasi seperti marketplace, 
                        event planner, ticketing, productivity dan lain-lain.
                        </p>
                    </div>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
      