<!-- Hiring Partner -->
<div class="container">
  <!-- included every package -->
  <div
    data-animate="fadeInUp"
    data-delay="0.9"
    class="included-every-wrap type2"
  >
    <div class="row image-size">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 offset-md-3">
        <div class="box-partner">
          <img
            src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706322/nextbyte-web/logos/madhang_tvw7pu.png"
            alt="madhang"
          />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="box-partner">
          <img
            src="https://res.cloudinary.com/nextbyte-co/image/upload/v1559051247/nextbyte-web/logos/warung_pintar_ewfz2e.png"
            alt="warung pintar"
          />
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="box-partner">
          <img
            src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706322/nextbyte-web/logos/sinarmas_sw9xah.png"
            alt="sinarmas"
          />
        </div>
      </div>
    </div>
  </div> <br> <br>
  <div class="text-center" data-animate="fadeInUp"
  data-delay="1">
    <a
      href="/partnership"
      class="btn btn-fill waves-effect"
      ><span style="color: #fff;">Menjadi Hiring Partner</span></a
    >
  </div>
  <!-- End of included every package -->
</div>
<!-- End of Hiring Partner -->
