<!-- Hiring Partner -->
<section class="pt-130 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- included every package -->
        <div class="included-every-wrap type2">
          <h3>Hiring Partner</h3>
          <ul class="list-unstyled text-center justify-center">
            <li>
              <img
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1560262084/nextbyte-web/logos/gojek_raxayb.png"
                alt="gojek"
              />
            </li>

            <li>
              <img
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1560262092/nextbyte-web/logos/grab_xzvrl4.png"
                alt="grab"
              />
            </li>
            <li>
              <img
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1559051247/nextbyte-web/logos/warung_pintar_ewfz2e.png"
                alt="warung pintar"
              />
            </li>
            <li>
              <img
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706322/nextbyte-web/logos/madhang_tvw7pu.png"
                alt="madhang"
              />
            </li>
            <li>
              <img
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706322/nextbyte-web/logos/sinarmas_sw9xah.png"
                alt="sinarmas"
              />
            </li>
          </ul>
        </div>
        <!-- End of included every package -->
      </div>
    </div>
  </div>
</section>
<!-- End of Hiring Partner -->
