<!-- timelines  -->
<div class="mt-5 pt-5 mb-5 pb-5">
  <span class="span-program">Program Sylabus</span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timelines">
          <a class="timelines">
            <div class="timelines-icon"><i class="fa fa-code"></i></div>
            <div class="timelines-content">
              <h3 class="title">Computer Science & Fundamentals</h3>
              <p class="description">
                Sebelum masuk ke tahap pemrograman, kamu akan diberikan
                pengetahuan dasar mengenai ilmu komputer & mengenai bahasa
                pemrograman yang akan dipakai pada saat masuk ke tahap
                pemrograman.
              </p>
            </div>
          </a>
          <a class="timelines">
            <div class="timelines-icon">
              <img
                src="https://res.cloudinary.com/nextbyteco/image/upload/v1555421481/nextbyte.co/logo/dart-logo_hhhqxs.png"
                class="img-fluid"
                alt="Dart Logo"
                title="Dart"
              />
            </div>
            <div class="timelines-content">
              <h3 class="title">Dart Programming Language</h3>
              <p class="description">
                Kamu akan mempelajari bahasa pemrograman dasar dari Framework
                Flutter yaitu 'Dart'. Dart dan Flutter adalah suatu
                bahasa/sistem kerangka kerja yang dibangun oleh Google yang
                bertujuan untuk membangun aplikasi mobile yang cross
                platform/multi OS(support terhadap Android & IOS).
              </p>
            </div>
          </a>
          <a class="timelines">
            <div class="timelines-icon">
              <img
                src="https://res.cloudinary.com/nextbyteco/image/upload/v1555421480/nextbyte.co/logo/flutter_lrmrze.png"
                class="img-fluid"
                alt="Flutter Logo"
                title="Flutter"
              />
            </div>
            <div class="timelines-content">
              <h3 class="title">Flutter: Mobile UI Framework</h3>
              <p class="description">
                Kamu akan mempelajari framework Flutter. Kamu akan belajar apa
                saja komponen-komponen yang penting dalam pembuatan aplikasi
                mobile menggunakan Flutter. Seperti Widget, StatefulWidget,
                StatelessWidget dan masih banyak lagi.
              </p>
            </div>
          </a>
          <a class="timelines">
            <div class="timelines-icon">
              <i class="fa fa-mobile-alt"></i>
            </div>
            <div class="timelines-content">
              <h3 class="title">Middleware: Redux / RxDart</h3>
              <p class="description">
                Middleware Class: Kamu akan belajar open source library untuk
                state management yang lebih high-performance, yaitu Redux atau
                RxDart, yang nanti akan disesuaikan tergantung dari kemampuan
                kamu terhadap hasil pembelajaran selama 1 bulan sebelumnya.
              </p>
            </div>
          </a>
          <a class="timelines">
            <div class="timelines-icon">
              <i class="fa fa-laptop-code"></i>
            </div>
            <div class="timelines-content">
              <h3 class="title">Final Project</h3>
              <p class="description">
                Kamu akan membuat Final Project sebagai penentu kelulusan kamu.
                Final Project berupa Mobile Development menggunakan tools yang
                sudah dipelajari.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
