<!-- start zigzag area type2 -->
<section data-animate="fadeInUp" data-delay="0.4">
  <div class="zigzag-inner type2 pt-50 pb-50" data-bg-img="img/news.png">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="zigzag-wrap">
            <h1>
              Penasaran dengan update terbaru dari Nextbyte?
            </h1>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <!-- zigzag wrap -->
          <div class="zigzag-wrap">
            <p>
              Dapatkan info terbaru seputar program bootcamp, workshop dan
              acara-acara lain yang diadakan oleh Nextbyte. Anda juga akan
              mendapatkan berita dan info tentang teknologi terbaru yang menarik
              dari kami.
            </p>
            <form id="section-newsletter-form" novalidate>
              <!-- form group -->
              <div class="form-group">
                <input
                  id="section-newsletter-email"
                  type="email"
                  name="email"
                  class="syllabus-style-input"
                  placeholder="Email Kamu..."
                  required
                />
              </div>
              <button
                type="submit"
                class="btn contact-btn btn-transparent style-4"
              >
                subscribe
              </button>
            </form>
            <!-- <a
              id="newsletter-subscribe"
              class="btn btn-transparent style-1 waves-effect"
              >Subscribe</a
            > -->
          </div>
          <!-- End of zigzag wrap -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of zigzag area type2 -->
