<!-- start zigzag area type2 -->
<section data-animate="fadeInUp" data-delay="0.4">
  <div
    class="zigzag-inner type2 pt-50 pb-50"
    data-bg-img="https://res.cloudinary.com/nextbyte-co/image/upload/v1558708026/nextbyte-web/news_rvwuze.png"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="zigzag-wrap">
            <h3>
              Penasaran dengan update terbaru dari Nextbyte?
            </h3>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <!-- zigzag wrap -->
          <div class="zigzag-wrap">
            <p>
              Dapatkan info terbaru seputar program bootcamp, workshop dan
              acara-acara lain yang diadakan oleh Nextbyte. Anda juga akan
              mendapatkan berita dan info tentang teknologi terbaru yang menarik
              dari kami.
            </p>
            <form id="section-newsletter-form" novalidate>
              <!-- form group -->
              <div class="form-group">
                <input
                  id="section-newsletter-email"
                  type="email"
                  name="email"
                  class="syllabus-style-input"
                  placeholder="Email Kamu..."
                  required
                />
              </div>
              <button
                type="submit"
                class="btn contact-btn btn-transparent style-1 waves-effect"
              >
                Subscribe
              </button>
            </form>
          </div>
          <!-- End of zigzag wrap -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of zigzag area type2 -->

<script src="js/newsletter.js"></script>
