<!-- pricing plan -->
<section id="programs" class="pt-10 pb-60">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div
            data-animate="fadeInUp"
            data-delay="0.6"
            class="section-title type2 text-center mb-30"
            >
            <!-- <h2>Program Harga</h2> -->
            <h2>Program Part Time</h2>
            <div class="underline-wrap">
                <div class="unerline">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                </div>
            </div>
            </div>
            <!-- End of section title -->
        </div>
        </div>
    
        <!-- pricecing plan type 2 -->
        <div class="pricing-plan type2">
        <div class="row">
            <div data-animate="fadeInUp" data-delay="0.7" class="col-md-4 offset-md-2 offset-lg-2">
            <!-- single pricing plan -->
            <div class="single--pricing-plan active waves-effect">
                <!--plan top -->
                <div class="pricing-plan-top">
                <div
                    data-animate="fadeInUp"
                    data-delay="0.7"
                    class="plan-top-head"
                >
                    <h4>
                    Frontend Development
                    </h4>
                    <div class="underline-wrap">
                    <div class="unerline theme-color">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    </div>
                </div>
                </div>
                <!--End of plan top -->
    
                <!-- pricing body -->
                <div class="pricing-plan-body mt-5">
                <p>
                    Belajar membuat aplikasi berbasis website yang dinamis dan responsive menggunakan library ReactJS
                </p>
                <ul class="list-unstyled">
                    <li>
                    - Membuat responsive web design
                    </li>
                    <li>
                    - Mempelajari teknologi web terkini
                    </li>
                    <li>
                    - Menggunakan React & Redux
                    </li>
                </ul>
                <a
                    href="/frontend"
                    class="btn btn-fill"
                    title="Detail Mobile Development"
                    ><span><i class="fas fa-sign-in-alt"></i></span>Detail</a
                >
                </div>
                <!--End of pricing body -->
            </div>
            <!-- End of single pricing plan -->
            </div>
            <div data-animate="fadeInUp" data-delay="0.8" class="col-md-4">
            <!-- single pricing plan -->
            <div class="single--pricing-plan waves-effect">
                <!--plan top -->
                <div class="pricing-plan-top">
                <div class="plan-top-head">
                    <h4>Backend Development</h4>
                    <div class="underline-wrap">
                    <div class="unerline theme-color">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    </div>
                </div>
                </div>
                <!--End of plan top -->
    
                <!-- pricing body -->
                <div class="pricing-plan-body mt-5">
                <p>
                    Membangun API service yang terstruktur, mengolah data dengan database SQL dan NoSQL
                </p>
                <ul class="list-unstyled">
                    <li>
                    - Membuat API dengan ExpressJS
                    </li>
                    <li>
                    - Mempelajari User Authentication
                    </li>
                    <li>
                    - Mengolah database SQL & NoSQL
                    </li>
                </ul>
                <a
                    href="/backend"
                    class="btn btn-fill"
                    title="Detail Website Development"
                    ><span><i class="fas fa-sign-in-alt"></i></span>Detail</a
                >
                </div>
                <!--End of pricing body -->
            </div>
            <!-- End of single pricing plan -->
            </div>
    
        </div>
        </div>
        <!-- End of pricing plan type 2 -->
    </div>
</section>
<!-- End of pricing plan -->
    