<section id="programs" class="pt-10 pb-60">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div
            data-animate="fadeInUp"
            data-delay="0.6"
            class="section-title type2 text-center mb-30"
            >
            <!-- <h2>Program Harga</h2> -->
            <h2 style="color: #555;">Biaya & Jadwal Program</h2>
            <div class="underline-wrap">
                <div class="unerline">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                </div>
            </div>
            </div>
            <!-- End of section title -->
        </div>
        </div>
    
        <!-- pricecing plan type 2 -->
        <div class="pricing-plan type2">
        <div class="row">
            <div data-animate="fadeInUp" data-delay="0.7" class="col-md-4 offset-md-2 offset-lg-2">
            <!-- single pricing plan -->
            <div class="single--pricing-plan active waves-effect">
                <!--plan top -->
                <div class="pricing-plan-top">
                <div
                    data-animate="fadeInUp"
                    data-delay="0.7"
                    class="plan-top-head"
                >
                    <h4>
                    Biaya Program
                    </h4>
                    <div class="underline-wrap">
                    <div class="unerline theme-color">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    </div>
                </div>
                </div>
                <!--End of plan top -->
    
                <!-- pricing body -->
                <div class="pricing-plan-body mt-3">
                    <div class="plantop-head-text">
                      <h3 class="h2 price-bootcamp"><span>Rp </span>8,000,000</h3>
                    </div>
                    <div class="plan-top-head">
                    <h4>Sekarang hanya</h4>
                    <div class="underline-wrap">
                        <div class="unerline theme-color">
                        <span></span>
                        <span></span>
                        <span></span>
                        </div>
                    </div>
                    </div>
                    <div class="plantop-head-text">
                    <h3 class="h2"><span>Rp </span>&nbsp;5,000,000</h3>
                    </div>

                    <div class="plan-top-head mt-10">
                      <h4></h4>
                      <div class="underline-wrap">
                          <div class="unerline theme-color">
                          <span></span>
                          <span></span>
                          <span></span>
                          </div>
                      </div>
                      </div>
                      <div class="plantop-head-text">
                      <h3 class="h2">16 Pertemuan</h3>
                      </div>
                </div>
                <!--End of pricing body -->
            </div>
            <!-- End of single pricing plan -->
            </div>
            <div data-animate="fadeInUp" data-delay="0.8" class="col-md-4">
            <!-- single pricing plan -->
            <div class="single--pricing-plan waves-effect">
                <!--plan top -->
                <div class="pricing-plan-top">
                <div class="plan-top-head">
                    <h4>Jadwal Program</h4>
                    <div class="underline-wrap">
                    <div class="unerline theme-color">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    </div>
                </div>
                </div>
                <!--End of plan top -->
    
                <!-- pricing body -->
                <div class="pricing-plan-body">
                        <div class="mt-40">
                          <h4><i class="fas fa-calendar-week"></i> &nbsp; 29 Oct 2019 - 19 Dec 2019</h4>
                        </div>
                        <div class="pt-20">
                            <h4><i class="far fa-clock"></i> &nbsp;Tue & Thu ~ (19.00 - 22.00)</h4>
                        </div>
                        <div class="pt-20">
                            <h4><i class="fas fa-map-marker-alt"></i> &nbsp; Equity Tower 22th Floor</h4>
                        </div>
                        <div class="pt-20">
                            <h4><i class="fas fa-laptop-code"></i> &nbsp;[Part Time] Frontend Development</h4>
                        </div>
                        <div class=" text-center">
                        <a
                            title="Ayo Daftar Sekarang!"
                            href="/register"
                            class="btn btn-fill"
                            style="border: 1px solid white"
                            >Daftar Sekarang</a
                        >
                        </div>
                </div>
                <!--End of pricing body -->
            </div>
            <!-- End of single pricing plan -->
            </div>
    
        </div>
        </div>
        <!-- End of pricing plan type 2 -->
    </div>
</section>