<!-- pricing plan -->
<section id="programs" class="pt-130 pb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-8">
        <!-- section title -->
        <div class="section-title type2 text-center mb-30">
          <!-- <h2>Program Harga</h2> -->
          <h2>Programs Harga</h2>
          <div class="underline-wrap">
            <div class="unerline">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <!-- End of section title -->
      </div>
    </div>

    <!-- pricecing plan type 2 -->
    <div class="pricing-plan type2">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <!-- single pricing plan -->
          <div class="single--pricing-plan active waves-effect">
            <!--plan top -->
            <div class="pricing-plan-top">
              <div class="plan-top-head">
                <h4>Mobile App Development</h4>
                <div class="underline-wrap">
                  <div class="unerline theme-color">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>

              <!-- plan top head text -->
              <!-- <div class="plantop-head-text">
                  <h3 class="h2"><span>Rp </span>18,000,000</h3>
                  <div class="head-text-float">
                    <span>.00</span>
                    <span>/class</span>
                  </div>
                </div> -->
              <!--End of plan top head text -->
            </div>
            <!--End of plan top -->

            <!-- pricing body -->
            <div class="pricing-plan-body mt-5">
              <p>
                Anda akan belajar cara membuat mobile application (Android &
                iOS) yang siap diunggah ke playstore.
              </p>
              <ul class="list-unstyled">
                <li>
                  - Membuat mockup design
                </li>
                <li>
                  - Mempelajari UI/UX
                </li>
                <li>
                  - Menggunakan Dart dan Flutter
                </li>
              </ul>
              <a href="/mobile" class="btn btn-fill"
                ><span><i class="fa fa-sign-in"></i></span>Detail</a
              >
            </div>
            <!--End of pricing body -->
          </div>
          <!-- End of single pricing plan -->
        </div>
        <div class="col-md-4">
          <!-- single pricing plan -->
          <div class="single--pricing-plan waves-effect">
            <!--plan top -->
            <div class="pricing-plan-top">
              <div class="plan-top-head">
                <h4>Website Development</h4>
                <div class="underline-wrap">
                  <div class="unerline theme-color">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>

              <!-- plan top head text -->
              <!-- <div class="plantop-head-text">
                  <h2 class="h2"><span>Rp </span>18,000,000</h2>
                  <div class="head-text-float">
                    <span>.00</span>
                    <span>/class</span>
                  </div>
                </div> -->
              <!--End of plan top head text -->
            </div>
            <!--End of plan top -->

            <!-- pricing body -->
            <div class="pricing-plan-body mt-5">
              <p>
                Anda akan belajar bagaimana membuat aplikasi fullstack berbasis
                web mulai dari frontend sampai backend.
              </p>
              <ul class="list-unstyled">
                <li>
                  - Mempelajari pemograman dasar
                </li>
                <li>
                  - Membangun website yang responsive
                </li>
                <li>
                  - Fullstack Website Javascript
                </li>
              </ul>
              <a href="/website" class="btn btn-fill"
                ><span><i class="fa fa-sign-in"></i></span>Detail</a
              >
            </div>
            <!--End of pricing body -->
          </div>
          <!-- End of single pricing plan -->
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <!-- End of pricing plan type 2 -->
  </div>
</section>
<!-- End of pricing plan -->
