<!-- Training Partner -->
<div class="container">
<!-- included every package -->
<div
    data-animate="fadeInUp"
    data-delay="0.9"
    class="included-every-wrap type2"
>
    <h2 data-animate="fadeInUp"
        data-delay="0.8"
        class="about-page-title text-center pb-30">
        Hiring Partner
    </h2>
    <div class="row image-size">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 offset-md-1">
            <div class="box-partner">
            <img
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706322/nextbyte-web/logos/madhang_tvw7pu.png"
                alt="madhang"
            />
            </div>
        </div>

    </div>
</div> <br> <br>

<!-- End of included every package -->
</div>
<!-- End of Training Partner -->
      