<!-- Training Partner -->
<div class="container">
    <!-- included every package -->
    <div
        data-animate="fadeInUp"
        data-delay="0.9"
        class="included-every-wrap type2 mt-2">
        <h2 data-animate="fadeInUp"
            data-delay="0.8"
            class="about-page-title text-center">
            Training Partner
        </h2>
        <div class="row image-size">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 offset-md-5">
                <div class="box-partner">
                <img
                    src="https://res.cloudinary.com/nextbyte-co/image/upload/v1568985510/nextbyte-web/logos/logo_tkid_playstrore_rgloum.png"
                    alt="topkarir"
                />
                </div>
            </div>

        </div>
    </div> <br> <br>

    <!-- End of included every package -->
</div>
<!-- End of Training Partner -->
      