<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document Title -->
    <title>Nextbyte - <%= title %></title>
    <meta
      name="description"
      content="Mobile Development adalah full training program selama 10 minggu dimana kamu akan di bimbing oleh mentor kami yang tentunya sudah ahli di bidangnya. Mulai dari hal yang fundamental sampai kamu bisa membuat aplikasi kamu sendiri."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="favicon" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <% include ./partials/navbar %>

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Backend Development Programs</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/" title="Home">Home</a></li>
                  <li>
                    <a href="#" title="Programs - Backend Development">
                      Program > Backend Development</a
                    >
                  </li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!-- coming soon  inner -->
    <section class="term-background pt-100 pb-100">
      <div data-animate="fadeInUp" data-delay="1.5" class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- section title -->
            <div class="section-title type4 mb-30">
              <span class="dosis about-page-subtitle">Program Overview</span>
              <h1 class="overview-title">
                Ayo bangun server website kamu sekarang!
              </h1>
            </div>
            <!-- End of section title -->

            <!-- about our company -->
            <div class="overview-content">
              <p>
                Backend Development adalah program fulltime training untuk kamu
                yang ingin belajar coding untuk menciptakan logikal dan
                komputasi dari sistem. Backend developer membuat komponen dan
                fitur yang secara tidak langsung digunakan oleh pengguna melalui
                interface atau antarmuka pada aplikasi. Program ini juga cocok
                bagi kamu yang tidak memiliki latar belakang IT. Lulusan program
                ini dapat bekerja menjadi Backend Developer.
              </p>
              <p>
                Terbuka untuk kamu berlatar belakang IT maupun non-IT , karena
                disini kamu akan diajarkan membangun API service yang
                best-practice menggunakan database (SQL & NoSQL) dan mempelajari
                Microservice. Diajarkan secara terstruktur dan secara lengkap
                serta bebas untuk melakukan diskusi dengan mentor.
              </p>
              <a
                title="Get Started"
                href="#mobileSylabus"
                class="btn btn-transparent waves-effect style-4"
                >Get Started</a
              >
            </div>
            <!-- End of about our company -->
          </div>
        </div>
      </div>
    </section>
    <!-- Timeline -->
    <div id="mobileSylabus">
      <section>
        <% include ./sections/backend-development %>
      </section>
    </div>
    <!-- End of Timeline -->

    <!-- Benefits of Backend -->
    <section class="pt-140 pb-140 home6-section-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="use--crypdrone-wrap">
              <!-- heading title type2 -->
              <div class="section-title-type2">
                <img src="img/icons/exlamation.png" alt="" />
                <h2>Benfit Mengikuti Backend Development Program</h2>
              </div>
              <!--End of heading title type2 -->

              <!-- use crypdrone token -->
              <div class="use-crypdrone-token">
                <p>
                  Selain jaminan karir yang cemerelang, berikut adalah beberapa
                  benefit yang akan kamu dapatkan jika kamu mengikuti Backend
                  Development Program ini sampai selesai.
                </p>
                <!-- single use crypdrone token-->
                <div class="single-use-crypdrone media">
                  <div class="use-crypdrone-icon">
                    <img src="img/icons/use-token3.svg" alt="" class="svg" />
                  </div>
                  <div class="use-crypdrone-details media-body">
                    <h4>Menjadi Seorang Backend Engineer</h4>
                    <p>
                      Mampu mendasain database, membuat API service dan mampu
                      menyajikan data yang siap dikonsumsi oleh frontend
                      developer.
                    </p>
                  </div>
                </div>
                <!-- End of single use crypdrone token-->

                <!-- single use crypdrone token-->
                <div class="single-use-crypdrone media">
                  <div class="use-crypdrone-icon">
                    <img src="img/icons/use-token3.svg" alt="" class="svg" />
                  </div>
                  <div class="use-crypdrone-details media-body">
                    <h4>Mampu Membuat Microservices</h4>
                    <p>
                      Bisa membuat suatu microservice dengan menggunakan
                      database ataupun bahasa pemograman yang berbeda secara
                      bersamaan.
                    </p>
                  </div>
                </div>
                <!-- End of single use crypdrone token-->

                <!-- single use crypdrone token-->
                <div class="single-use-crypdrone media">
                  <div class="use-crypdrone-icon">
                    <img src="img/icons/use-token3.svg" alt="" class="svg" />
                  </div>
                  <div class="use-crypdrone-details media-body">
                    <h4>Menguasai Database</h4>
                    <p class="m-0">
                      Dapat menggunakan database SQL maupun NoSQL, memahami
                      relasi antar table/collections dan best practice-nya.
                    </p>
                  </div>
                </div>
                <!-- End of single use crypdrone token-->
              </div>
              <!--End of use crypdrone token -->
            </div>
          </div>
          <div class="col-lg-6">
            <!-- crypdrone animate image -->
            <div class="crypdrone-token-image">
              <img
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1559029244/nextbyte-web/programs/backend_fpdxcc.png"
                alt=""
              />
            </div>
            <!--End of crypdrone animate image -->
          </div>
        </div>
      </div>
    </section>
    <!--End of Benefits of Backend -->

    <!-- Activity -->
    <% include ./partials/agenda %>
    <!-- End of Activity -->

    <!-- Register -->
    <section id="programs" class="vpn-patern pb-60">
      <div
        data-animate="fadeInUp"
        data-delay="1.5"
        class="container pricing-plan type2"
      >
        <h2 class="about-page-title text-center pb-30">Jadwal Program</h2>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="comming-soon-border">
              <!-- error text -->
              <h4 class="comming-soon">Comming Soon</h4>
              <h1 class="comming-soon">Program ini masih belum dibuka...</h1>
              <p class="comming-soon">
                Kita akan segera menghubungi kamu apabila program ini telah
                dibuka, silahkan masukan emailkamu di form.
              </p>
              <div class="contact-form contact-page-form">
                <form id="contact-form" novalidate>
                  <!-- form group -->
                  <div class="form-group">
                    <input
                      id="contact-email"
                      type="text"
                      name="email"
                      class="theme-input-style form-border-color"
                      placeholder="Email"
                    />
                  </div>
                  <div>
                    <button type="submit" class="button-contact">
                      Kirim
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- End of error text -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of Register -->

    <!-- Newsletter -->
    <% include ./sections/newsletter %>
    <!-- End of Newsletter -->

    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
