<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document Title -->
    <title>Nextbyte - <%= title %></title>

    <meta
      name="description"
      content="Kami ingin tahu lebih banyak tentang kamu. Tim kami akan sangat senang untuk menjawab semua pertanyaan kamu. "
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="favicon" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <% include ./partials/navbar %>

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Temukan Kami Segera !</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!-- contact section -->
    <section class="pt-130 pb-130" data-animate="fadeInUp" data-delay="1.05">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <!-- contact info -->
            <div class="contact-form-info">
              <h2 class="about-page-title">Terhubunglah Bersama Kami</h2>
              <p>
                Kami ingin tahu lebih banyak tentang kamu. Tim kami akan sangat
                senang untuk menjawab semua pertanyaan kamu. Lengkapi form yang
                ada dibawah dan kami akan segera menjawab pertanyaan kamu.
              </p>
            </div>
            <!-- End of contact info -->
            <div class="row">
              <div class="col-md-10">
                <!-- contact form -->
                <div class="contact-form contact-page-form parsley-validate">
                  <form id="contact-form" novalidate>
                    <!-- form group -->
                    <div class="form-group">
                      <input
                        id="contact-subject"
                        type="text"
                        name="subject"
                        class="theme-input-style"
                        placeholder="Subject"
                      />
                    </div>
                    <!--ENd of form group -->
                    <!-- form group -->
                    <div class="form-group">
                      <input
                        id="contact-fullName"
                        type="text"
                        name="name"
                        class="theme-input-style"
                        placeholder="Nama Lengkap"
                        required
                      />
                    </div>
                    <!-- End of form group -->

                    <!-- form group -->
                    <div class="form-group">
                      <input
                        id="contact-email"
                        type="email"
                        name="email"
                        class="theme-input-style"
                        placeholder="Email"
                        required
                      />
                    </div>
                    <!--End of form group -->

                    <!-- form group -->
                    <div class="form-group">
                      <textarea
                        id="contact-message"
                        name="message"
                        placeholder="Tuliskan pesan kamu"
                        class="theme-input-style"
                        required=""
                      ></textarea>
                    </div>
                    <!--End of form group -->
                    <button
                      type="submit"
                      class="btn contact-btn btn-transparent style-4"
                    >
                      Kirim
                    </button>
                  </form>
                  <div class="form-response"></div>
                </div>
                <!--End of contact form -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- google map -->
            <div class="google-map">
              <div id="google-map"></div>
            </div>
            <!-- End of google map -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of contact section -->
    <!-- visite us -->
    <section class="pb-130">
      <div class="container" data-animate="fadeInUp" data-delay="1.05">
        <div class="row align-items-center">
          <div class="col-md-6">
            <!-- visite us video -->
            <div class="visite-us-video">
              <img
                src="img/about-visited.png"
                alt="Visit our Company"
                data-rjs="2"
              />
              <!--
              <a
                href="https://www.youtube.com/watch?v=BPoePa1pV78"
                class="hover-style-ripple"
                data-popup="video"
                ><i class="fa fa-play"></i
              ></a>
                -->
            </div>
            <!-- End of visite us video -->
          </div>
          <div class="col-md-6">
            <!-- contact info -->
            <div class="contact-info">
              <h2 class="about-page-title">Datanglah ke Kantor Kami</h2>
              <p>
                Kamu akan langsung merasakan bagaimana lingkungan kami bekerja.
                Orang - orang yang baik, peduli dan tidak membosankan selalu ada
                di sekitar kami.
              </p>
              <ul class="list-unstyled info-list">
                <li>
                  <h4>Reach Us</h4>
                  <p>
                    Wisma Amex Jalan Melawai Raya, RT.4/RW.5, Melawai, Kby.<br />
                    Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta
                    <br />
                    12160
                  </p>
                </li>
                <li>
                  <h4>Talk To Us</h4>
                </li>
                <li>
                  <a href="#">
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    &nbsp; 021 2751 0617</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://api.whatsapp.com/send?phone=6281212868664&text=Terima%20kasih%20telah%20menghubungi%20Nextbyte!%20Ada%20yang%20bisa%20kami%20bantu?"
                  >
                    <span
                      ><i class="fab fa-whatsapp" aria-hidden="true"></i
                    ></span>
                    &nbsp; +628 1212 8686 64</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=info@nextbyte.co&tf=1"
                  >
                    <span
                      ><i class="fa fa-envelope" aria-hidden="true"></i
                    ></span>
                    &nbsp; info@nextbyte.co</a
                  >
                </li>
              </ul>
              <div class="contact-socile-wrap">
                <h4>Follow us</h4>
                <ul class="list-unstyled contact-socile-list">
                  <li>
                    <a
                      href="https://www.facebook.com/nextbyteco/"
                      target="_blank"
                      ><i class="fab fa-facebook-square"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/nextbyteco" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/company/nextbyteco/about/"
                      target="_blank"
                      ><i class="fab fa-linkedin"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/nextbyte_co/"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <!--End of contact info -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of visite us -->

    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
