<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document Title -->
    <title>Nextbyte - </title>

    <meta
      name="description"
      content="Nextbyte terbentuk oleh kepercayaan bahwa semua orang bisa belajar programming. Tujuan kami adalah kesuksesan dan masa depan murid."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body >
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="favicon" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <!--about our company -->
    <section class="pt-130 error-page">
      <div data-animate="fadeInLeft" data-delay="1.5" class="container">
         <div id="clouds">
            <div class="cloud x1"><img src="img/favicon.png" alt="logo"></div>
            <div class="cloud x1_5"><img src="img/favicon.png" alt="logo"></div>
            <div class="cloud x2"><img src="img/favicon.png" alt="logo"></div>
            <div class="cloud x3"><img src="img/favicon.png" alt="logo"></div>
            <div class="cloud x4"><img src="img/favicon.png" alt="logo"></div>
            <div class="cloud x5"><img src="img/favicon.png" alt="logo"></div>
         </div>
        <div class="row err-content">
         <div class="col-md-12 text-center">
            <!-- our company image -->
            <div class="our-err-img">
               <img 
                  src="img/banner/error404.png"
                  alt="About our company"
                  data-rjs="2"
               />
            </div>
            <div class="pt-30">
               <h1><%= status %></h1>
               <h4>Halaman yang dan cari (<%= url %>) tidak tersedia, maaf ya.</h4>
            </div>
            <div class="wrapper-inner-tab-backgrounds-second pt-30">
               <div class="sim-button button13"><a href="/">Back to Home Page</a></div>
            </div>
         <!-- End of our company image -->
         </div>      
        </div>
      </div>
    </section>
    <!--End of about our cumpany -->

    <% include ./partials/script %>
  </body>
</html>
