<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document Title -->
    <title>Nextbyte - <%= title %></title>

    <meta
      name="description"
      content="Daftar menjadi Mitra Nextbyte. Tim kami akan sangat senang untuk merespon permintaan kamu. "
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body>
      <% include ./partials/navbar %>

      <!-- page title wrap-->
      <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
   >
         <div class="page-title-wrap crypto-patern">
            <div class="container">
            <div class="row align-items-center justify-content-center">
               <div class="col">
                  <!-- page title inner -->
                  <div
                  class="page-title text-center"
                  data-animate="fadeInUp"
                  data-delay="1.05"
                  >
                  <h1 class="about-page-banner">Menjadi Fullstack Developer dalam 10 minggu</h1>
                  </div>
                  <!-- End of page title inner -->
               </div>
            </div>
            </div>
         </div>
      </section>
      <!-- End of page title -->

          <!-- Our service -->
    <section class="pt-130 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-8">
                    <!-- section title -->
                    <div class="section-title text-center mb-30">
                        <h2 style="color: teal;">Dapatkan Penawaran Khusus Berupa</h2>
                        <div class="underline-wrap">
                            <div class="unerline">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <!-- End of section title -->
                </div>
            </div>
            <!-- our service type3 -->
            <div class="our-service type3">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- single service -->
                        <div class="single--service-inner media">
                            <div class="single--service-icon">
                                <img src="img/icons/h4-service1.svg" alt="" class="svg">
                            </div>
                            <!-- Service text -->
                            <div class="single-service-text media-body">
                                <h4>Cicilan 0%</h4>
                                <p>Bekerjasama dengan <strong>Dana Cita</strong> (Penyedia pinjaman pendidikan untuk perguruan tinggi, kursus, pelatihan dan sertifikasi)</p>
                            </div>
                            <!--End of Service text -->
                        </div>
                        <!--End of single service -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- single service -->
                        <div class="single--service-inner media">
                            <div class="single--service-icon">
                                <img src="img/icons/h4-service2.svg" alt="" class="svg">
                            </div>
                            <!-- Service text -->
                            <div class="single-service-text media-body">
                                <h4>Cashback 17%</h4>
                                <p>Dapatkan Cahsback Senilai <strong><span style="font-size: 15px;"> Rp. 2,550,000.00,-</span></strong> jika mendaftar pada event ini </p>
                            </div>
                            <!-- End of Service text -->
                        </div>
                        <!--End of single service -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- single service -->
                        <div class="single--service-inner media">
                            <div class="single--service-icon">
                                <img src="img/icons/h4-service3.svg" alt="" class="svg">
                            </div>
                            <!-- Service text -->
                            <div class="single-service-text media-body">
                                <h4>Free Biaya Admin</h4>
                                <p>Gratis Admin Fee Senilai <strong><span style="font-size: 15px;">Rp. 250,000.00,-</span></strong> hanya pada event ini saja </p>
                            </div>
                            <!--End of Service text -->
                        </div>
                        <!--End of single service -->
                    </div>
                </div>
            </div>
             <!-- our service type3 -->
        </div>
    </section>
    <!--End of Our service -->

      <!-- Step section -->
    <section class="pt-140 pb-110 crypto-patern home1-section-bg">
         <div class="container">
              <div class="row justify-content-center">
                 <div class="col-xl-12 col-lg-8">
                     <!-- section title -->
                     <div class="section-title text-center mb-30">
                         <img src="img/icons/flag.svg" alt="" class="svg">
                         <h2>CASHBACK 17%</h2>
                         <h2>Juga Berlaku Untuk</h2>
                     </div>
                     <!-- End of section title -->
                 </div>
             </div>
             <div class="row">
                 <div class="col-lg-12">
                     <!-- step timeline -->
                     <div class="step-timeline">
                         <!-- slingle timeline item -->
                         <div class="step-timeline-item timeline-active">
                             <div class="timeline-element">
                                 <span class="poppins">01</span>
                                 <h4>Career Switcher</h4>
                             </div>
                             <div class="timeline-content">
                                 <!-- time line icon -->
                                 <div class="timeline-icon">
                                     <div class="timeline-icon-img">
                                         <i class="fa fa-briefcase" style="font-size: 30px;"></i>
                                     </div>
                                     <div class="underline-wrap">
                                         <div class="unerline">
                                             <span></span>
                                             <span></span>
                                             <span></span>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- end of time line icon -->
                                 <p>
                                     Bagi Kamu yang berkeinginan untuk mengubah perjalanan karir sebelumnya dan beralih profesi menjadi seorang Programmer, maka Nextbyte adalah pilihan yang tepat.
                                 </p>
                             </div>
                         </div>
                          <!--End of slingle timeline item -->
 
                         <!-- slingle timeline item -->
                         <div class="step-timeline-item">
                             <div class="timeline-element">
                                 <span class="poppins">02</span>
                                 <h4>SMA/SMK Graduates</h4>
                             </div>
                             <div class="timeline-content">
                                 <!-- time line icon -->
                                 <div class="timeline-icon">
                                     <div class="timeline-icon-img">
                                          <i class="fa fa-users" style="font-size: 30px;"></i>
                                     </div>
                                     <div class="underline-wrap">
                                         <div class="unerline">
                                             <span></span>
                                             <span></span>
                                             <span></span>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- end of time line icon -->
                                 <p>
                                     Lulusan SMA/SMK sulit mendapatkan pekerjaan dengan gaji diatas rata-rata, tetapi lain halnya dengan profesi Programmer. Meskipun Kamu lulusan SMA/SMK, jika memiliki skill Coding gaji Kamu bisa lebih tinggi lagi.
                                 </p>
                             </div>
                         </div>
                         <!--End of slingle timeline item -->
 
                         <!-- slingle timeline item -->
                         <div class="step-timeline-item">
                             <div class="timeline-element">
                                 <span class="poppins">03</span>
                                 <h4>Fresh Graduates</h4>
                             </div>
                             <div class="timeline-content">
                                 <!-- time line icon -->
                                 <div class="timeline-icon">
                                     <div class="timeline-icon-img">
                                         <i class="fa fa-graduation-cap" style="font-size: 30px;"></i>
                                     </div>
                                     <div class="underline-wrap">
                                         <div class="unerline">
                                             <span></span>
                                             <span></span>
                                             <span></span>
                                         </div>
                                     </div>
                                 </div>
                                 <!-- end of time line icon -->
                                 <p>
                                    Jangan khawatir jika Kamu <i><strong>Fresh Graduate</strong></i> IT tapi belum cukup skill yang didapat dari kampus untuk bekal di dunia kerja. Nextbyte siap kasih Kamu skill profesional.
                                 </p>
                             </div>
                         </div>
                         <!--End of slingle timeline item -->
 
                     </div>
                     <!-- ENd of setp timeline -->
                 </div>
             </div>
         </div>
     </section>
     <!--End of Step section -->

      <!-- our process -->
      <section class="pt-130 pb-130">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-md-6">
                        <!-- process video -->
                        <div class="process--video-wrap">
                           <img src="https://res.cloudinary.com/nextbyte-co/image/upload/v1559032637/nextbyte-web/programs/website_dkcm9b.png" alt="" class="svg">
                        </div>
                        <!-- End of process video -->
                  </div>
                  <div class="col-md-6">
                        <div class="our-process-wrap">
                           <!-- section title --> 
                           <div class="section-title type4 mb-30"> 
                           <h2>Fullstack Web Development</h2> 
                              <div class="underline-wrap"> 
                                    <div class="unerline"> 
                                       <span></span> 
                                       <span></span> 
                                       <span></span> 
                                       <span></span> 
                                    </div> 
                              </div>
                              <p>Fullstack Website Development adalah full training program selama 10
                                    minggu dimana kamu akan di bimbing untuk membangun Website kamu
                                    sendiri secara tepat dan efisien.</p>
                           </div> 
                           <!-- End of section title -->
                           
                           <!-- process step inner -->
                           <div class="process-step-inner">
                              <ul class="list-unstyled">
                                    <li>
                                       <!-- single process step -->
                                       <div class="single-prosse-step media">
                                          <div class="prosse-step-icon">
                                             <img src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706322/nextbyte-web/icons/process1_sehtin.svg" alt="" class="svg">
                                          </div>
                                          <div class="process-step-text">
                                             <h4>Register Class</h4>
                                             <p style="color: #555;">Melakukan pendaftar online di program kelas Nextbyte Fullstack Web Development</p>
                                          </div>
                                       </div>
                                       <!--End of single process step -->
                                    </li>
                                    <li>
                                       <!-- single process step -->
                                       <div class="single-prosse-step media">
                                          <div class="prosse-step-icon">
                                             <img src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706320/nextbyte-web/icons/payment-s4_mdiuhk.svg" alt="" class="svg">
                                          </div>
                                          <div class="process-step-text">
                                             <h4>Onsite Bootcamp</h4>
                                             <p style="color: #555;">Pembelajaran mendalam onsite selama 10 minggu dengan materi kurikulum terbaru.</p>
                                          </div>
                                       </div>
                                       <!--End of single process step -->
                                    </li>
                                    <li>
                                       <!-- single process step -->
                                       <div class="single-prosse-step media">
                                          <div class="prosse-step-icon">
                                             <img src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706321/nextbyte-web/icons/payment-s3_bjvheo.svg" alt="" class="svg">
                                          </div>
                                          <div class="process-step-text">
                                             <h4>Profesional Programmer</h4>
                                             <p style="color: #555;">Menjadi developer handal yang siap membuat produk digital yang kreatif.</p>
                                          </div>
                                       </div>
                                       <!--End of single process step -->
                                    </li>
                              </ul>
                              <div class="progress-btn">
                                  <div class="row">
                                      <div class="col-xs-6 mb-3">
                                            <a href="/register" class="style-4 waves-effect btn btn-transparent">Register</a>
                                        </div>
                                      <div class="col-xs-6 mb-3">
                                            <a href="/website" class="style-4 waves-effect btn btn-transparent">Detail</a>
                                      </div>
                                  </div>
                              </div>
                           </div>
                           <!--End of process step inner -->
                        </div>
                  </div>
               </div>
            </div>
      </section>
      <!-- End of our process -->

      <% include ./partials/footer %>
      <% include ./partials/script %>
  </body>
</html>