<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Document Title -->
    <title>Nextbyte - Unlock Your Coding Skill for Freedom with Nextbyte</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:500,600,700,800&&Poppins:300,400,500,600,900"
      rel="stylesheet"
    />

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css" />

    <!-- Magnific-Popup css file -->
    <link rel="stylesheet" href="plugins/Magnific-Popup/magnific-popup.css" />

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="css/style.css" />

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="css/responsive.css" />

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="css/custom.css" />
  </head>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <!-- Main header -->
    <header class="header">
      <!-- Start Header Navbar-->
      <div class="main-header main-header6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-2 col-md-4 col-sm-5 col-7">
              <!-- Logo -->
              <div class="logo" data-animate="fadeInUp" data-delay=".65">
                <a href="/">
                  <img
                    class="default-logo"
                    src="img/logo.png"
                    data-rjs="2"
                    alt="crypdrone"
                  />
                  <img
                    class="sticky-logo"
                    src="img/logo.png"
                    data-rjs="2"
                    alt="crypdrone"
                  />
                </a>
              </div>
              <!-- End of Logo -->
            </div>
            <div class="col-xl-9 col-lg-10 col-md-8 col-sm-7 col-5 menu-button">
              <div class="menu--inner-area clear-fix">
                <div class="menu-wraper">
                  <nav data-animate="fadeInUp" data-delay=".80">
                    <!-- Header-menu -->
                    <div class="header-menu dosis">
                      <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/programs">Programs</a></li>
                        <li class="active">
                          <a href="#">FAQ </a>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                      </ul>
                    </div>
                    <!-- End of Header-menu -->
                  </nav>
                </div>
              </div>
              <!-- signup/singout button -->
              <div
                class="signup--out-btn text-right"
                data-animate="fadeInUp"
                data-delay="1"
              >
                <a href="#" class="d-block waves-effect"
                  ><i class="fa fa-download" aria-hidden="true"></i
                  ><span>Download Our App</span></a
                >
              </div>
              <!--End of signup/singout button -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Navbar-->
    </header>
    <!-- End of Main header -->

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Frequently Asked Questions</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!-- faq area type3-->
    <section class="pt-130 pb-130 vpn-patern">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div class="section-title text-center mb-30">
              <h2 class="about-page-title">Frequently Asked Questions</h2>
              <div class="underline-wrap">
                <div class="unerline">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <!-- End of section title -->
          </div>
        </div>
        <!-- faq type2 -->
        <div class="row">
          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-1">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-1"
                    aria-expanded="true"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >Long established fact that a reader will be distracted by
                    the readable at its layout?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-1"
                    class="collapse show"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        At vero eos et accusamus et iusto odio ignissimos
                        ducimus qui blanditiis praesentium um deleniti atque
                        corrupti.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-2"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >Established fact that a reader will be distracted by the at
                    its layout readable?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-2"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        At vero eos et accusamus et iusto odio ignissimos
                        ducimus qui blanditiis praesentium um deleniti atque
                        corrupti.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-3"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>A
                    Established fact that a reader will be distracted by the
                    readable at its layout?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-3"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        At vero eos et accusamus et iusto odio ignissimos
                        ducimus qui blanditiis praesentium um deleniti atque
                        corrupti.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->
          </div>

          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-2">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-1"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >Reader It is a long established fact that a will be
                    distracted by the readable at its?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-1"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        At vero eos et accusamus et iusto odio ignissimos
                        ducimus qui blanditiis praesentium um deleniti atque
                        corrupti.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-2"
                    aria-controls="accordionFaq-2-item-2"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >Distracted It is a long established fact that a will be by
                    the readable at its layout reader?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-2"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        At vero eos et accusamus et iusto odio ignissimos
                        ducimus qui blanditiis praesentium um deleniti atque
                        corrupti.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-3"
                    aria-controls="accordionFaq-2-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>Is
                    a long established fact that a reader will be by the
                    readable at its layout istracted?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-3"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        At vero eos et accusamus et iusto odio ignissimos
                        ducimus qui blanditiis praesentium um deleniti atque
                        corrupti.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->
          </div>
        </div>
        <!-- end of faq type3 -->
      </div>
    </section>
    <!-- End of faq area type3 -->

    <% include ./partials/footer %>

    <!-- back to top -->
    <div class="back-to-top">
      <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- back to top -->

    <!-- JS Files -->
    <!-- ==== JQuery 3.3.1 js file==== -->
    <script src="js/jquery-3.3.1.min.js"></script>

    <!-- ==== Bootstrap js file==== -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- ==== JQuery Waypoint js file==== -->
    <script src="plugins/waypoints/jquery.waypoints.min.js"></script>

    <!-- ==== Parsley js file==== -->
    <script src="plugins/parsley/parsley.min.js"></script>

    <!-- ==== Ratina js file==== -->
    <script src="plugins/retinajs/retina.min.js"></script>

    <!-- ==== parallax js==== -->
    <script src="plugins/parallax/parallax.js"></script>

    <!-- ==== Owl Carousel js file==== -->
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- ====Count down==== -->
    <script src="plugins/countdown/jquery.countdown.min.js"></script>

    <!-- ====Chart js file ==== -->
    <script src="plugins/chart-js/echarts.min.js"></script>

    <!-- ==== Menu  js file==== -->
    <script src="js/menu.min.js"></script>

    <!-- ====Magnific-Popup js file==== -->
    <script src="plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

    <!-- ====Counter js file=== -->
    <script src="plugins/waypoints/jquery.counterup.min.js"></script>

    <!--==== google map api key ====-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>

    <!-- ====matrial js file==== -->
    <script src="js/matrial.js"></script>

    <!-- ==== Script js file==== -->
    <script src="js/scripts.js"></script>

    <!-- ==== Custom js file==== -->
    <script src="js/custom.js"></script>
  </body>
</html>
