<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Document Title -->
    <title>Nextbyte - Unlock Your Coding Skill for Freedom with Nextbyte</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:500,600,700,800&&Poppins:300,400,500,600,900"
      rel="stylesheet"
    />

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css" />

    <!-- Magnific-Popup css file -->
    <link rel="stylesheet" href="plugins/Magnific-Popup/magnific-popup.css" />

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="css/style.css" />

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="css/responsive.css" />

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="css/custom.css" />
  </head>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <!-- Main header -->
    <header class="header">
      <!-- Start Header Navbar-->
      <div class="main-header main-header6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-2 col-md-4 col-sm-5 col-7">
              <!-- Logo -->
              <div class="logo" data-animate="fadeInUp" data-delay=".65">
                <a href="/">
                  <img
                    class="default-logo"
                    src="img/logo.png"
                    data-rjs="2"
                    alt="crypdrone"
                  />
                  <img
                    class="sticky-logo"
                    src="img/logo.png"
                    data-rjs="2"
                    alt="crypdrone"
                  />
                </a>
              </div>
              <!-- End of Logo -->
            </div>
            <div class="col-xl-9 col-lg-10 col-md-8 col-sm-7 col-5 menu-button">
              <div class="menu--inner-area clear-fix">
                <div class="menu-wraper">
                  <nav data-animate="fadeInUp" data-delay=".80">
                    <!-- Header-menu -->
                    <div class="header-menu dosis">
                      <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/programs">Programs</a></li>
                        <li class="active">
                          <a href="#">FAQ </a>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                      </ul>
                    </div>
                    <!-- End of Header-menu -->
                  </nav>
                </div>
              </div>
              <!-- signup/singout button -->
              <div
                class="signup--out-btn text-right"
                data-animate="fadeInUp"
                data-delay="1"
              >
                <a href="#" class="d-block waves-effect"
                  ><i class="fa fa-download" aria-hidden="true"></i
                  ><span>Download Our App</span></a
                >
              </div>
              <!--End of signup/singout button -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Navbar-->
    </header>
    <!-- End of Main header -->

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Frequently Asked Questions</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!-- faq area type3-->
    <section class="pt-130 pb-130 vpn-patern">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div class="section-title text-center mb-30">
              <h2 class="about-page-title">Frequently Asked Questions</h2>
              <div class="underline-wrap">
                <div class="unerline">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <!-- End of section title -->
          </div>
        </div>
        <!-- faq type2 -->
        <div class="row">
          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-1">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-1"
                    aria-expanded="true"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >What can you help me with?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-1"
                    class="collapse show"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        We are a software house that will build systems in your
                        application end-to-end. With several advantages such as;
                      </p>

                      <p>
                        1. Prices are transparent - you can measure your own
                        needs and how much you will spend on developing your
                        product.
                      </p>
                      ]
                      <p>
                        2. Experienced team - No need to spend money on hiring
                        needs. You only issue a service fee for the development
                        of your application that we will do for approximately 3
                        months (depending on the scale of your application).
                      </p>
                      <p>
                        3. Today's language and programming system - We provide
                        the same system standards with large applications that
                        are outside or within the country.
                      </p>
                      <p>
                        As for some of the products and services we offer, you
                        can see the Products & Services page.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-2"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>How
                    do I create a product with you?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-2"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        If you have ideas, contact us through our online form,
                        email or telephone. We will meet and talk about it. Be
                        sure to prepare as much info as possible about your
                        idea, it will smooth the meeting and benefit further
                        cooperation. If you don't know how to work around this,
                        please and read our blog entry about how to write a
                        short project.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-3"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>A
                    Should I create a mobile or a web app?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-3"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        Both have their benefits and flaws. Mobile apps are
                        surely more expensive but can provide you with many more
                        data collecting, monetisation capabilities than web
                        applications. Progressive Web Apps are a good compromise
                        between a mobile and web app — you can learn more about
                        PWA on our blog. But remember that sooner or later you
                        may need both mobile and web app and when that moment
                        comes we are here for you :)
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->
          </div>

          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-2">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-1"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >What do I need to know before contacting you?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-1"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        Well, the most important thing to know is what do you
                        want to accomplish. Why do I need this software? What
                        for? What should it do? Having a clear vision in mind is
                        crucial when ordering a software application. You don't
                        want to spend many months developing it with us without
                        being sure what you need. If you have no experience in
                        app development feel free to read our blog entry on that
                        topic. We'll also be glad to help you get started,
                        building projects from scratch is nothing new for us.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-2"
                    aria-controls="accordionFaq-2-item-2"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>Do
                    I need to be tech-savvy to cooperate with you and order a
                    software application?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-2"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        You certainly do not have to be a software development
                        expert, that's what we're here for :) We welcome your
                        experience in that matter if you happen to have any, but
                        are prepared to guide you through the whole process and
                        explain everything. Focus on your needs and we'll
                        deliver what you require.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-3"
                    aria-controls="accordionFaq-2-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>Is
                    How much time will it take for you to make my app?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-3"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        To give you a precise answer we must prepare a project
                        scope and create a budget. We shall tell you how much of
                        that scope can be completed within the budget and we'll
                        be able to estimate how long will it take after at least
                        a month of work. Don't worry, if you're not happy with
                        our work after two weeks you can retract from the
                        project with no penalties, this is our trial period and
                        we believe that any reliable software house should give
                        you one
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-1">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-1"
                    aria-expanded="true"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>How
                    do you guarantee product quality?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-1"
                    class="collapse show"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        We evaluate the result after every two weeks, we test
                        our work (we conduct both development and acceptance
                        tests), we present it to you, we apply your feedback so
                        you know you get what you are paying for.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-2"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>How
                    can I be sure you work at my project as much as you declare?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-2"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        We thoroughly monitor our developers and control how
                        much time they spend on each task down to the exact
                        minute. We use Harvest software and Redmine to track
                        time spent on your project.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-3"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>A I
                    want to be involved in the app development process, do you
                    have a problem with that?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-3"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        Not at all! We want you to be sure you'll receive the
                        product you desire. From the planning stage to each
                        finished version, we invite you to evaluate and improve
                        our work. Our philosophy is to work with the client, not
                        merely finish given tasks. We are always ready to listen
                        and communicate.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->
          </div>

          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-2">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-1"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>Why
                    should I choose you and not hire my own software development
                    team?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-1"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        Hiring your own software developers can be a really
                        smart choice, however, recruitment process is
                        time-consuming and the costs of keeping an in-house
                        programming team are very high. You'll probably need to
                        employ your own software engineers sooner or later but
                        hiring us can help you save a lot of money and time
                        (which is basically the same in a business project).
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-2"
                    aria-controls="accordionFaq-2-item-2"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >What happens after you finish my app?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-2"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        Hopefully the app is exactly what you dreamed of :) But
                        apart from delivering a finished product, we are happy
                        to provide you with technical support and app
                        maintenance should you need it. After all, we know our
                        work inside out. Of course if you want to maintain the
                        app by yourself the source code and all technical data
                        is at your disposal, but even in that case, feel free to
                        contact us if you need any help.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-3"
                    aria-controls="accordionFaq-2-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>Is
                    Are you able to double the size of the team involved in the
                    project if the need arises?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-3"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        Whether you want to expand your product or create a
                        completely new one simultaneously, and then again focus
                        only on one of your projects, we are always ready to
                        adapt to your requirements. If the work is less intense
                        team size can be reduced. When improvements need to be
                        implemented fast, we can quickly assign additional team
                        members to speed up each phase of the development
                        process.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-1">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-1"
                    aria-expanded="true"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >Will development include the creation of prototypes and
                    demo versions that I can try out?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-1"
                    class="collapse show"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        We would not call it exactly a demo version but using
                        Agile Methodolgy compels us to create operating software
                        as soon as possible and later just add next features
                        along the process. Therefore, you'll be able to examine
                        and test your software very early.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-2"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >Will my observations concerning the prototypes be factored
                    into the final version?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-2"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        Of course. Thanks to the Agile Methodology we are able
                        to iterate the project during its development and
                        include your feedback to improve the product as it is
                        being created.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-3"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>Can
                    the software be upgraded in the future as new technology
                    becomes available?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-3"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        Of course! We are always happy to improve, upgrade and
                        further develop our work.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->
          </div>

          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-2">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-1"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >Will a project manager be assigned to me as a contact
                    person? Will this contact person be available throughout the
                    time the software is being developed?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-1"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        Yes. All our customers are assigned a liaison that
                        serves as their guide and information source throughout
                        our whole cooperation.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-2"
                    aria-controls="accordionFaq-2-item-2"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >Will my liaison send me a progress report on a daily basis
                    detailing the work that has been completed? What other
                    pieces of information will they update me on? Will the
                    progress report include a plan for the next sprint?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-2"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        We send you a report every two weeks (i.e. after each
                        sprint, when the next version of the software is
                        completed) or every month if you prefer. The report
                        includes info on what we plan to achieve in the next
                        sprint. Apart from that you are welcome to contact us
                        any time either in person, via Skype, phone, e-mail or
                        live chat. During work hours we usually answer after no
                        more than few minutes.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-2-item-3"
                    aria-controls="accordionFaq-2-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>How
                    much do you charge?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-2-item-3"
                    class="collapse"
                    data-parent="#Faq-2"
                  >
                    <div class="faq-answer">
                      <p>
                        It depends on many things: project scope, time spent on
                        the project and technological issues. We know it sounds
                        vague but its simply honest. Remember that each software
                        project is different, especially if you had a
                        particularly original idea. We do not want to give you
                        an unrealistic estimate, instead we want to provide you
                        with the best quality possible within your budget.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->
          </div>
        </div>
        <!-- end of faq type3 -->
        <div class="row">
          <div class="col-md-6">
            <!-- single faq wrap -->
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-1">
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-1"
                    aria-expanded="true"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >What is your experience?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-1"
                    class="collapse show"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        We have more than 10 years of business experience. We've
                        worked with and completed projects for transnational
                        food and drink companies, start-ups, real estate, taxi,
                        telecommunications, clothing and courier companies,
                        hotels, influencers, book selling chains, language
                        schools and many, many more. We are experienced in
                        creating Android, iOS Mobile apps, Web and IoT apps, ELT
                        implementations, games, messengers, entertainment, Web
                        content, augmented reality, e-learning, ad block
                        software, CRM systems and constantly improving our
                        skills! Check out our portfolio to learn more.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-2"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span
                    >What technology do you use?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-2"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        Dart, Flutter, ReactJS, NodeJS, you can check on home
                        page to learn more.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->

                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-3"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>Do
                    you have any testimonials from satisfied customers?
                  </h3>
                  <!--End of faq head -->

                  <!-- faq body -->
                  <div
                    id="accordionFaq-1-item-3"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <div class="faq-answer">
                      <p>
                        Absolutely! Take a look at what our clients have to
                        share about our cooperation at home page.
                      </p>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
              </div>
            </div>
            <!--End of single faq wrap -->

            <!--End of single faq wrap -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of faq area type3 -->

    <% include ./partials/footer %>

    <!-- back to top -->
    <div class="back-to-top">
      <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- back to top -->

    <!-- JS Files -->
    <!-- ==== JQuery 3.3.1 js file==== -->
    <script src="js/jquery-3.3.1.min.js"></script>

    <!-- ==== Bootstrap js file==== -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- ==== JQuery Waypoint js file==== -->
    <script src="plugins/waypoints/jquery.waypoints.min.js"></script>

    <!-- ==== Parsley js file==== -->
    <script src="plugins/parsley/parsley.min.js"></script>

    <!-- ==== Ratina js file==== -->
    <script src="plugins/retinajs/retina.min.js"></script>

    <!-- ==== parallax js==== -->
    <script src="plugins/parallax/parallax.js"></script>

    <!-- ==== Owl Carousel js file==== -->
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- ====Count down==== -->
    <script src="plugins/countdown/jquery.countdown.min.js"></script>

    <!-- ====Chart js file ==== -->
    <script src="plugins/chart-js/echarts.min.js"></script>

    <!-- ==== Menu  js file==== -->
    <script src="js/menu.min.js"></script>

    <!-- ====Magnific-Popup js file==== -->
    <script src="plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

    <!-- ====Counter js file=== -->
    <script src="plugins/waypoints/jquery.counterup.min.js"></script>

    <!--==== google map api key ====-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>

    <!-- ====matrial js file==== -->
    <script src="js/matrial.js"></script>

    <!-- ==== Script js file==== -->
    <script src="js/scripts.js"></script>

    <!-- ==== Custom js file==== -->
    <script src="js/custom.js"></script>
  </body>
</html>
