<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <!-- Start main wrapper -->
    <div class="main-wrapper home-page6">
      <% include ./partials/navbar %>

      <!-- banner section -->
      <section class="banner--wrapper-area banner-home6">
        <!-- banner home6 -->
        <div id="particle"></div>
        <div
          class="banner home-banner6 overlay6"
          data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
        >
          <!-- overlay bubble -->
          <div class="overlay-bubble" data-trigger="parallax_layers">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6 offset-5">
                  <img
                    src="img/banner/h6-bg-shape.png"
                    alt=""
                    class="h6-dot-small"
                    data-depth="0.3"
                  />
                  <img
                    src="img/banner/h6-dot.png"
                    alt=""
                    class="h6-dot-dot"
                    data-depth="0.2"
                  />
                </div>
              </div>
            </div>
          </div>
          <!--End of overlay bubble -->
          <div class="container">
            <div class="row">
              <div class="col-12">
                <!-- banner text inner -->
                <div class="banner--inner-text text-center">
                  <h1 data-animate="fadeInUp" data-delay=".2">
                    Unlock your coding skill for freedom
                  </h1>
                  <p data-animate="fadeInUp" data-delay=".4">
                    Menjadi programmer profesional yang terampil, bangun aplikasimu dan berkolaborasi dengan tim.
                    Dalam waktu 10 minggu kamu akan mengembangkan dirimu ke level yang belum pernah kamu ekspektasikan sebelumnya.
                  </p>
                  <a
                    href="#programs"
                    class="btn btn-transparent style-1 waves-effect"
                    data-animate="fadeInUp"
                    data-delay=".6"
                    >Lihat Program</a
                  >
                </div>
                <div class="banner4-image-wrap text-center">
                  <!-- overlay bubble -->
                  <div class="overlay-bubble">
                    <img
                      src="img/banner/h4-dot-l.png"
                      alt=""
                      class="h4-dot-dot"
                    />
                    <img
                      src="img/banner/h4-dot-sml.png"
                      alt=""
                      class="h4-dot-small"
                    />
                  </div>
                  <!--End of overlay bubble -->

                  <!-- banner images -->
                  <div
                    class="main-image"
                    data-animate="fadeInUp"
                    data-delay=".8"
                  >
                    <img src="img/banner.svg" alt="" data-rjs="2" />
                  </div>
                  <!-- End of banner images -->
                </div>
                <!-- banner text inner -->
              </div>
            </div>
          </div>
        </div>
        <!--End of banner home 06 -->
      </section>
      <!-- End of banner section -->

      <!-- Feature card section -->
      <section>
        <!-- feature card wrap -->
        <div class="feature-card-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/icons/ecosystem.png" alt="" />
                    <h4>Huge ECOSYSTEM</h4>
                  </div>
                  <p>
                    Lebih dari 50 jaringan kerjasama, hiring partner dan komunitas.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Jaminan karir.</li>
                      <li>Tergabung dalam komunitas.</li>
                      <li>Memperluas koneksi.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/icons/comfort.png" alt="" />
                    <h4>Comfortable ENVIRONMENT</h4>
                  </div>
                  <p>
                    Suasana belajar yang nyaman dan seru namun tetep intens.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Feels like home.</li>
                      <li>Semakin produktif.</li>
                      <li>Menelurkan ide-ide kreatif.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/icons/mentor.png" alt="" />
                    <h4>Amazing MENTORS</h4>
                  </div>
                  <p>
                    Tech Mentor yang sudah berpengalaman di dunia programming.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Melatih ilmu praktikal.</li>
                      <li>Mengasah logika dan algoritma.</li>
                      <li>Fast Learning.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/icons/programming.png" alt="" />
                    <h4>Using Latest TECHNOLOGY</h4>
                  </div>
                  <p>
                    Kurikulum yang up-to-date menyesuaikan dengan industri digital terkini.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Learn tools / framework</li>
                      <li>Biar terus berkembang</li>
                      <li>Sesuai kebutuhan industri</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
            </div>
          </div>
        </div>
        <!-- End of feature card wrap -->
      </section>
      <!-- End of Feature card section -->

      <!-- about US -->
      <section class="pt-80 pb-50 vpn-patern">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <!-- about Images -->
              <div class="about-image text-center">
                <img src="img/next-byte.png" alt="" />
              </div>
              <!-- End of about Images -->
            </div>
            <div class="col-md-7">
              <!-- about vpn wrap -->
              <div class="about--vpn-wrap">
                <h2>Apa itu Nextbyte?</h2>
                <p>
                  Nextbyte adalah sebuah lembaga kursus 'semi coding bootcamp' yang bertujuan membantu kamu untuk menjadi programmer yang professional, yang siap kerja dan bisa beradapatasi dengan industri digital. Di Nextbyte, Kami akan membantu kamu untuk menemukan jati diri kamu di industri digital, sehingga kamu bisa lebih fokus dan passionate dalam menjalani peran mereka masing-masing di industri digital.
                </p>
                <a href="/about" class="btn btn-transparent style-3 waves-effect"
                  ><span>Selengkapnya</span> <i class="fa fa-long-arrow-right"></i
                ></a>
              </div>
              <!--End of about vpn wrap -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of about US -->

      <!-- All Stars Section-->
      <section class="pt-20 pb-20">
        <div class="container">
          <!-- domain step -->
          <div class="domain-step">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img src="img/icons/process1.svg" alt="" class="svg" />
                  <h4>Choose Your Class</h4>
                  <p>Ada dua kelas yang bisa Anda pilih satu atau keduanya.</p>
                </div>
                <!-- End of single domain step -->
              </div>

              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img src="img/icons/payment-s4.svg" alt="" class="svg" />
                  <h4>Onsite Bootcamp</h4>
                  <p>
                    Pembelajaran mendalam onsite selama 10 minggu dengan materi kurikulum terbaru.
                  </p>
                </div>
                <!-- End of single domain step -->
              </div>

              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img src="img/icons/payment-s3.svg" alt="" class="svg" />
                  <h4>Profesional Programmer</h4>
                  <p>
                    Menjadi developer handal yang siap membuat produk digital kreatif.
                  </p>
                </div>
                <!-- End of single domain step -->
              </div>
            </div>
          </div>
          <!-- End of Domain step -->
        </div>
      </section>
      <!-- End of All Stars Section-->

      <!-- What You Will Get -->
      <section class="pt-100 pb-100 home6-section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- included every package -->
                <div class="included-every-wrap type2">
                  <h3>Apa Yang Akan Kamu Dapatkan</h3>
                  <ul class="list-unstyled">
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Skill pemograman fundamental yang solid
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Mempelajari tools dan framework terkini
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Berkolaborasi menggunakan Git & GitHub
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Akses ke semua materi yang kami sediakan
                    </li>
                </ul>
                  <ul class="list-unstyled">
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Mengasah kemampuan logika dan algoritma
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Membuat aplikasi berbasis mobile ataupun web
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Membangun aplikasi dari front-end dan back-end
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Mempelajari deployment ke web server / hosting
                    </li>
                  </ul>
                </div>
                <!-- End of included every package -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of What You Will Get -->

      <!-- Hiring Partner -->
      <section class="pt-130 pb-70">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- included every package -->
              <div class="included-every-wrap type2">
                <h3>Hiring Partner</h3>
                <ul class="list-unstyled">
                  <li>
                    <img src="img/logos/circledoo.png" alt="circledoo" />
                  </li>
                  <li>
                    <img src="img/logos/mbcap.png" alt="mbcap" />
                  </li>
                  <li>
                    <img src="img/logos/myForce.png" alt="myForce" />
                  </li>
                  <li>
                    <img src="img/logos/princessa.png" alt="princessa" />
                  </li>
                </ul>
              </div>
              <!-- End of included every package -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of Hiring Partner -->

      <!-- Community Partner -->
      <section class="pt-10 pb-100">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- included every package -->
              <div class="included-every-wrap type2">
                <h3>Community Partner</h3>
                <ul class="list-unstyled">
                  <li>
                    <img src="img/logos/circledoo.png" alt="circledoo" />
                  </li>
                  <li>
                    <img src="img/logos/mbcap.png" alt="mbcap" />
                  </li>
                  <li>
                    <img src="img/logos/myForce.png" alt="myForce" />
                  </li>
                  <li>
                    <img src="img/logos/princessa.png" alt="princessa" />
                  </li>
                </ul>
              </div>
              <!-- End of included every package -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of Community Partner -->

      <!-- start zigzag area type2 -->
      <section>
        <div
          class="zigzag-inner type2 pt-90 pb-90"
          data-bg-img="img/syllabus.png"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6">
                <!-- zigzag wrap -->
                <div class="zigzag-wrap">
                  <h3>
                    Penasaran dengan materi kurikulum Nextbyte ?<br/>Download Silabus disini!
                  </h3>
                  <p>
                      Dapatkan silabus pembelajaran lengkap tentang Mobile Development dan Web Development. Anda akan mendapatkan berita dan info tentang teknologi terbaru yang menarik dari kami.
                  </p>
                    <form action="" method="post" novalidate>
                      <!-- form group -->
                      <div class="form-group">
                        <input
                          type="email"
                          name="email"
                          class="syllabus-style-input"
                          placeholder="Email Kamu..."
                          required
                        />
                      </div>
                    </form>
                  <a href="#" class="btn btn-transparent style-1 waves-effect">Download</a>
                </div>
                <!-- End of zigzag wrap -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End of zigzag area type2 -->

      <!-- pricing plan -->
      <section id="programs" class="pt-130 pb-60">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-8">
              <!-- section title -->
              <div class="section-title type2 text-center mb-30">
                <h2>Program Harga</h2>
                <div class="underline-wrap">
                  <div class="unerline">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
              <!-- End of section title -->
            </div>
          </div>

          <!-- pricecing plan type 2 -->
          <div class="pricing-plan type2">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <!-- single pricing plan -->
                <div class="single--pricing-plan active waves-effect">
                  <!--plan top -->
                  <div class="pricing-plan-top">
                    <div class="plan-top-head">
                      <h4>Mobile App Development</h4>
                      <div class="underline-wrap">
                        <div class="unerline theme-color">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                    </div>

                    <!-- plan top head text -->
                    <div class="plantop-head-text">
                      <h3 class="h2"><span>Rp </span>15,000,000</h3>
                      <div class="head-text-float">
                        <span>.00</span>
                        <span>/class</span>
                      </div>
                    </div>
                    <!--End of plan top head text -->
                  </div>
                  <!--End of plan top -->

                  <!-- pricing body -->
                  <div class="pricing-plan-body">
                    <p>
                      Anda akan belajar cara membuat mobile application (Android & iOS) yang siap diunggah ke playstore.
                    </p>
                    <ul class="list-unstyled">
                      <li>
                        - Membuat mockup design
                      </li>
                      <li>
                        - Mempelajari UI/UX
                      </li>
                      <li>
                        - Menggunakan Dart dan Flutter
                      </li>
                    </ul>
                    <a href="#" class="btn btn-fill"
                      ><span><i class="fa fa-sign-in"></i></span>Daftar</a
                    >
                  </div>
                  <!--End of pricing body -->
                </div>
                <!-- End of single pricing plan -->
              </div>
              <div class="col-md-4">
                <!-- single pricing plan -->
                <div class="single--pricing-plan waves-effect">
                  <!--plan top -->
                  <div class="pricing-plan-top">
                    <div class="plan-top-head">
                      <h4>Fullstack Web Development</h4>
                      <div class="underline-wrap">
                        <div class="unerline theme-color">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                    </div>

                    <!-- plan top head text -->
                    <div class="plantop-head-text">
                      <h2 class="h2"><span>Rp </span>12,000,000</h2>
                      <div class="head-text-float">
                        <span>.00</span>
                        <span>/class</span>
                      </div>
                    </div>
                    <!--End of plan top head text -->
                  </div>
                  <!--End of plan top -->

                  <!-- pricing body -->
                  <div class="pricing-plan-body">
                    <p>
                      Anda akan belajar bagaimana membuat aplikasi fullstack berbasis web mulai dari frontend sampai backend.
                    </p>
                    <ul class="list-unstyled">
                      <li>
                        - Mempelajari pemograman dasar
                      </li>
                      <li>
                        - Membangun website yang responsive
                      </li>
                      <li>
                        - Fullsatack javascript
                      </li>
                    </ul>
                    <a href="#" class="btn btn-fill"
                      ><span><i class="fa fa-sign-in"></i></span>Daftar</a
                    >
                  </div>
                  <!--End of pricing body -->
                </div>
                <!-- End of single pricing plan -->
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <!-- End of pricing plan type 2 -->
        </div>
      </section>
      <!-- End of pricing plan -->

      <!-- testimonial -->

      <!-- End of testimonial -->

      <!-- Maps Office Loc -->
      <div class="">
        <div class="col-md-12">
          <!-- google map -->
          <div class="google-map">
            <div id="google-map"></div>
          </div>
          <!-- End of google map -->
        </div>
      </div>
      <!-- End of Maps Office Loc -->
    </div>
    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
