<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Document Title -->
  <title>Nextbyte - Unlock your coding skill for freedom with</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">

  <!-- CSS Files -->
  <!--==== Google Fonts ====-->
  <link href="https://fonts.googleapis.com/css?family=Dosis:500,600,700,800&&Poppins:300,400,500,600,900"
    rel="stylesheet">

  <!--==== Bootstrap css file ====-->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!--==== Font-Awesome css file ====-->
  <link rel="stylesheet" href="css/font-awesome.min.css">

  <!-- Owl Carusel css file -->
  <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css">

  <!-- Magnific-Popup css file -->
  <link rel="stylesheet" href="plugins/Magnific-Popup/magnific-popup.css">

  <!--==== Style css file ====-->
  <link rel="stylesheet" href="css/style.css">

  <!--==== Responsive css file ====-->
  <link rel="stylesheet" href="css/responsive.css">

  <!--==== Custom css file ====-->
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>

  <!-- Preloader -->
  <div class="preLoader">
    <div class="preload-img">
      <img src="img/favicon.png" alt="" class="pre-img">
    </div>
  </div>
  <!-- End Of Preloader -->

  <!-- Start main wrapper -->
  <div class="main-wrapper home-page6">

    <!-- Main header -->
    <header class="header">
      <!-- Start Header Navbar-->
      <div class="main-header main-header6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-2 col-md-4 col-sm-5 col-7">
              <!-- Logo -->
              <div class="logo" data-animate="fadeInUp" data-delay=".65">
                <a href="/">
                  <img class='default-logo' src="img/logo.png" data-rjs="2" alt="crypdrone">
                  <img class="sticky-logo" src="img/logo.png" data-rjs="2" alt="crypdrone">
                </a>
              </div>
              <!-- End of Logo -->
            </div>
            <div class="col-xl-9 col-lg-10 col-md-8 col-sm-7 col-5 menu-button">
              <div class="menu--inner-area clear-fix">
                <div class="menu-wraper">
                  <nav data-animate="fadeInUp" data-delay=".80">
                    <!-- Header-menu -->
                    <div class="header-menu dosis">
                      <ul>
                        <li class="active"><a href="#">Home</a>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li> <a href="/programs">Programs</a></li>
                        <li>
                          <a href="/faq">FAQ </a>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                      </ul>
                    </div>
                    <!-- End of Header-menu -->
                  </nav>
                </div>
              </div>
              <!-- signup/singout button -->
              <div class="signup--out-btn text-right" data-animate="fadeInUp" data-delay="1">
                <a href="#" class="d-block waves-effect"><i class="fa fa-download" aria-hidden="true"></i><span>Download Our App</span></a>
              </div>
              <!--End of signup/singout button -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Navbar-->
    </header>
    <!-- End of Main header -->

    <!-- banner section -->
    <section class="banner--wrapper-area banner-home6">
      <!-- banner home6 -->
      <div id="particle"></div>
      <div class="banner home-banner6 overlay6" data-bg-img='https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg'>
        <!-- overlay bubble -->
        <div class="overlay-bubble" data-trigger="parallax_layers">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6 offset-5">
                <img src="img/banner/h6-bg-shape.png" alt="" class="h6-dot-small" data-depth="0.3">
                <img src="img/banner/h6-dot.png" alt="" class="h6-dot-dot" data-depth="0.2">
              </div>
            </div>
          </div>
        </div>
        <!--End of overlay bubble -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- banner text inner -->
              <div class="banner--inner-text text-center">
                <h1 data-animate="fadeInUp" data-delay=".2">Unlock your coding skill for freedom</h1>
                <p data-animate="fadeInUp" data-delay=".4">It is a long established fact that a reader will be distracted by the
                  readable content of a page reader will be layout.</p>
                <a href="#" class="btn btn-transparent style-1 waves-effect" data-animate="fadeInUp" data-delay=".6">Discover Our Programs</a>
              </div>
              <div class="banner4-image-wrap text-center">
                <!-- overlay bubble -->
                <div class="overlay-bubble">
                  <img src="img/banner/h4-dot-l.png" alt="" class="h4-dot-dot">
                  <img src="img/banner/h4-dot-sml.png" alt="" class="h4-dot-small">
                </div>
                <!--End of overlay bubble -->

                <!-- banner images -->
                <div class="main-image" data-animate="fadeInUp" data-delay=".8">
                  <img src="http://themelooks.org/demo/crypdrone/html/preview/img/banner/h4-wallet.png" alt="" data-rjs="2">
                </div>
                <!-- End of banner images -->
              </div>
              <!-- banner text inner -->
            </div>
          </div>
        </div>
      </div>
      <!--End of banner home 06 -->
    </section>
    <!-- End of banner section -->

    <!-- Feature card section -->
    <section>
      <!-- feature card wrap -->
      <div class="feature-card-wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6">
              <!-- single feature card -->
              <div class="single-feature-card">
                <!-- card head -->
                <div class="feature-card-head media">
                  <img src="img/programs/mobile-app.png" alt="">
                  <h4>Think CREATIVE</h4>
                </div>
                <p>long established fact an that a reader will the distracted.</p>
                <!-- card head -->
                <div class="feature-card-body">
                  <ul class="list-unstyled">
                    <li>Earn up to $250 Back.</li>
                    <li>No Annual Fee.</li>
                    <li>$0 Balance Transfer Fee Offer.</li>
                  </ul>
                </div>
                <!-- card body -->
              </div>
              <!--End of single feature card -->
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6">
              <!-- single feature card -->
              <div class="single-feature-card">
                <!-- card head -->
                <div class="feature-card-head media">
                  <img src="img/programs/frontend.png" alt="">
                  <h4>Stand For TECHNOLOGY</h4>
                </div>
                <p>long established fact an that a reader will the distracted.</p>
                <!-- card head -->
                <div class="feature-card-body">
                  <ul class="list-unstyled">
                    <li>Earn up to $250 Back.</li>
                    <li>No Annual Fee.</li>
                    <li>$0 Balance Transfer Fee Offer.</li>
                  </ul>
                </div>
                <!-- card body -->
              </div>
              <!--End of single feature card -->
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6">
              <!-- single feature card -->
              <div class="single-feature-card">
                <!-- card head -->
                <div class="feature-card-head media">
                  <img src="img/programs/backend.png" alt="">
                  <h4>Amazing MENTORS</h4>
                </div>
                <p>long established fact an that a reader will the distracted.</p>
                <!-- card head -->
                <div class="feature-card-body">
                  <ul class="list-unstyled">
                    <li>Earn up to $250 Back.</li>
                    <li>No Annual Fee.</li>
                    <li>$0 Balance Transfer Fee Offer.</li>
                  </ul>
                </div>
                <!-- card body -->
              </div>
              <!--End of single feature card -->
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6">
              <!-- single feature card -->
              <div class="single-feature-card">
                <!-- card head -->
                <div class="feature-card-head media">
                  <img src="img/programs/ui-ux.png" alt="">
                  <h4>Accelerated LEARNING</h4>
                </div>
                <p>long established fact an that a reader will the distracted.</p>
                <!-- card head -->
                <div class="feature-card-body">
                  <ul class="list-unstyled">
                    <li>Earn up to $250 Back.</li>
                    <li>No Annual Fee.</li>
                    <li>$0 Balance Transfer Fee Offer.</li>
                  </ul>
                </div>
                <!-- card body -->
              </div>
              <!--End of single feature card -->
            </div>
          </div>
        </div>
      </div>
      <!-- End of feature card wrap -->
    </section>
    <!-- End of Feature card section -->

      <!-- about US -->
      <section class="pt-80 pb-50 vpn-patern">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <!-- about Images -->
              <div class="about-image">
                <img src="img/about-next.jpg" alt="">
              </div>
              <!-- End of about Images -->
            </div>
            <div class="col-md-7">
              <!-- about vpn wrap -->
              <div class="about--vpn-wrap">
                <h2>What Is Nextbyte?</h2>
                <p>Nextbyte is a 'semi coding bootcamp' course that aims to help you become a professional programmer who is ready to work
                and can adapt to the digital industry. At Nextbyte, we will help you to find your identity in the digital industry, so
                that you can be more focused and passionate in carrying out their respective roles in the digital industry.
                </p>
                <p>Nextbyte is also a digital agency that creates digital-based products with industrial quality with the latest technology that
                is ready for use in the market.</p>
                <a href="#" class="btn btn-transparent style-4 waves-effect">Read More <span><i class="fa fa-long-arrow-right"></i></span></a>
              </div>
              <!--End of about vpn wrap -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of about US -->
       
    <!-- All Stars Section-->
    <section class="pt-20 pb-20">
      <div class="container">
        <!-- domain step -->
        <div class="domain-step">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <!-- single domain step -->
              <div class="single-domain-step text-center">
                <img src="img/icons/process1.svg" alt="" class="svg">
                <h4>Choose Your Class</h4>
                <p>There are two classes that you can choose one or both.</p>
              </div>
              <!-- End of single domain step -->
            </div>

            <div class="col-md-4">
              <!-- single domain step -->
              <div class="single-domain-step text-center">
                <img src="img/icons/process2.svg" alt="" class="svg">
                <h4>Onsite Bootcamp</h4>
                <p>Onsite immersive learning for 10 weeks (Monday-Friday) with the latest curriculum materials.</p>
              </div>
              <!-- End of single domain step -->
            </div>

            <div class="col-md-4">
              <!-- single domain step -->
              <div class="single-domain-step text-center">
                <img src="img/icons/process3.svg" alt="" class="svg">
                <h4>Profesional Programmer</h4>
                <p>There are many variations of Lorem Ipsum available majority.</p>
              </div>
              <!-- End of single domain step -->
            </div>
          </div>
        </div>
        <!-- End of Domain step -->
      </div>
    </section>
    <!-- End of All Stars Section-->

    <!-- What You Will Get -->
    <section class="pt-100 pb-100 home6-section-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div class="section-title type2 text-center mb-30">
              <h2>What You Will Get</h2>
              <div class="underline-wrap">
                <div class="unerline">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <!-- End of section title -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <!-- Single Will Get -->
            <div class="single-will-get text-center mb-30">
              <img src="img/icons/will-get1.svg" alt="" class="svg">
              <h4>Discount Guarantee</h4>
              <p>Mauris ultrices lectus atpurus dictum molestie Maece nisrbi.</p>
            </div>
            <!-- Single Will Get -->
          </div>
          <div class="col-md-6 col-lg-3">
            <!-- Single Will Get -->
            <div class="single-will-get text-center mb-30">
              <img src="img/icons/will-get2.svg" alt="" class="svg">
              <h4>Ultra Fast & Secure</h4>
              <p>Mauris ultrices lectus atpurus dictum molestie Maece nisrbi.</p>
            </div>
            <!-- Single Will Get -->
          </div>
          <div class="col-md-6 col-lg-3">
            <!-- Single Will Get -->
            <div class="single-will-get text-center mb-30">
              <img src="img/icons/will-get3.svg" alt="" class="svg">
              <h4>Easy Website Builder</h4>
              <p>Mauris ultrices lectus atpurus dictum molestie Maece nisrbi.</p>
            </div>
            <!-- Single Will Get -->
          </div>
          <div class="col-md-6 col-lg-3">
            <!-- Single Will Get -->
            <div class="single-will-get text-center mb-30">
              <img src="img/icons/will-get4.svg" alt="" class="svg">
              <h4>C Panel Service</h4>
              <p>Mauris ultrices lectus atpurus dictum molestie Maece nisrbi.</p>
            </div>
            <!-- Single Will Get -->
          </div>
          <div class="col-md-6 col-lg-3">
            <!-- Single Will Get -->
            <div class="single-will-get text-center mb-30">
              <img src="img/icons/will-get5.svg" alt="" class="svg">
              <h4>Website Migration</h4>
              <p>Mauris ultrices lectus atpurus dictum molestie Maece nisrbi.</p>
            </div>
            <!-- Single Will Get -->
          </div>
          <div class="col-md-6 col-lg-3">
            <!-- Single Will Get -->
            <div class="single-will-get text-center mb-30">
              <img src="img/icons/will-get6.svg" alt="" class="svg">
              <h4>FREE Domain Name</h4>
              <p>Mauris ultrices lectus atpurus dictum molestie Maece nisrbi.</p>
            </div>
            <!-- Single Will Get -->
          </div>
          <div class="col-md-6 col-lg-3">
            <!-- Single Will Get -->
            <div class="single-will-get text-center mb-30">
              <img src="img/icons/will-get7.svg" alt="" class="svg">
              <h4>Enterprise Data Centers</h4>
              <p>Mauris ultrices lectus atpurus dictum molestie Maece nisrbi.</p>
            </div>
            <!-- Single Will Get -->
          </div>
          <div class="col-md-6 col-lg-3">
            <!-- Single Will Get -->
            <div class="single-will-get text-center mb-30">
              <img src="img/icons/will-get8.svg" alt="" class="svg">
              <h4>SSD Servers</h4>
              <p>Mauris ultrices lectus atpurus dictum molestie Maece nisrbi.</p>
            </div>
            <!-- Single Will Get -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of What You Will Get -->

    <!-- pricing plan -->
    <section class="pt-130 pb-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div class="section-title type2 text-center mb-30">
              <h2>Pricing Plan</h2>
              <div class="underline-wrap">
                <div class="unerline">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <!-- End of section title -->
          </div>
        </div>

        <!-- pricecing plan type 2 -->
        <div class="pricing-plan type2">
          <div class="row">
            <div class="col-md-4 offset-2">
              <!-- single pricing plan -->
              <div class="single--pricing-plan active waves-effect">
                <!--plan top -->
                <div class="pricing-plan-top">
                  <div class="plan-top-head">
                    <h4>Mobile Applicaton</h4>
                    <div class="underline-wrap">
                      <div class="unerline theme-color">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </div>

                  <!-- plan top head text -->
                  <div class="plantop-head-text">
                    <h3 class="h2"><span>Rp </span>15,000,000</h3>
                    <div class="head-text-float">
                      <span>.00</span>
                      <span>/class</span>
                    </div>
                  </div>
                  <!--End of plan top head text -->
                </div>
                <!--End of plan top -->

                <!-- pricing body -->
                <div class="pricing-plan-body">
                  <p>You will learn how to build a mobile application (Android & iOS) that is ready to be uploaded to the playstore.</p>
                  <ul class="list-unstyled">
                    <li>
                      - Create a mockup design
                    </li>
                    <li>
                      - Develop wih the latest tools
                    </li>
                    <li>
                      - Build app using Dart and Flutter
                    </li>
                  </ul>
                  <a href="#" class="btn btn-fill"><span><i class="fa fa-credit-card"></i></span>Apply</a>
                </div>
                <!--End of pricing body -->
              </div>
              <!-- End of single pricing plan -->
            </div>
            <div class="col-md-4">
              <!-- single pricing plan -->
              <div class="single--pricing-plan waves-effect">
                <!--plan top -->
                <div class="pricing-plan-top">
                  <div class="plan-top-head">
                    <h4>Frontend with Firebase</h4>
                    <div class="underline-wrap">
                      <div class="unerline theme-color">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </div>

                  <!-- plan top head text -->
                  <div class="plantop-head-text">
                    <h2 class="h2"><span>Rp </span>12,000,000</h2>
                    <div class="head-text-float">
                      <span>.00</span>
                      <span>/class</span>
                    </div>
                  </div>
                  <!--End of plan top head text -->
                </div>
                <!--End of plan top -->

                <!-- pricing body -->
                <div class="pricing-plan-body">
                  <p>You will learn how to build a semi fullstack web development on the client side and on the server side.</p>
                  <ul class="list-unstyled">
                    <li>
                      - Learn Programming Fundamentals
                    </li>
                    <li>
                      - Build a responsive web app
                    </li>
                    <li>
                      - Use the latest tools & framework
                    </li>
                  </ul>
                  <a href="#" class="btn btn-fill"><span><i class="fa fa-credit-card"></i></span>Buy Now</a>
                </div>
                <!--End of pricing body -->
              </div>
              <!-- End of single pricing plan -->
            </div>
          </div>
        </div>
        <!-- End of pricing plan type 2 -->
        <div class="row">
          <div class="col-12">
            <!-- included every package -->
            <div class="included-every-wrap type2">
              <h3>Included in Every Package</h3>
              <ul class="list-unstyled">
                <li>
                  <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  AES Encryption
                </li>
                <li>
                  <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  Easily Change Plan Options
                </li>
                <li>
                  <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  Full protocol support
                </li>
                <li>
                  <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  Multiple Device Support
                </li>
              </ul>
              <ul class="list-unstyled">
                <li>
                  <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  Increased Privacy Protection
                </li>
                <li>
                  <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  7-Day Free Trial
                </li>
                <li>
                  <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  Safe and Secure Browsing
                </li>
                <li>
                  <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                  Block Online Threats
                </li>
              </ul>
            </div>
            <!-- End of included every package -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of pricing plan -->

    <!-- start zigzag area type2 -->
    <section>
      <div class="zigzag-inner type2 pt-90 pb-90" data-bg-img='img/call-to-action2.jpg'>
        <div class="container">
          <div class="row">
            <div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6">
              <!-- zigzag wrap -->
              <div class="zigzag-wrap">
                <h3>Buy The Best Hosting!<br>Signing up to a account is FREE of charge.</h3>
                <p>There are many variations of passages of Lorem psum available, but the majority have suffered
                  alteration in some form believable.</p>
                <a href="#" class="btn btn-transparent style-1 waves-effect">Start Trial Now</a>
                <a href="#" class="btn btn-fill waves-effect">Start Trial Now</a>
              </div>
              <!-- End of zigzag wrap -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of zigzag area type2 -->

    <!-- testimonial -->
    <section class="pt-130 pb-130 home6-team-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div class="section-title text-center mb-30">
              <h2>What They Think About Us</h2>
              <div class="underline-wrap">
                <div class="unerline">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <!-- End of section title -->
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- testimonial wrap type4-->
            <div class="testimonial-wrap type4">
              <div class="owl-carousel testimonial-carousel">
                <!-- single item -->
                <div class="item">
                  <div class="single-testimoial">
                    <!-- testimonial head -->
                    <div class="testimonial-head media">
                      <div class="testimonial-head-img">
                        <img src="img/testi&clients/testimonial1.png" alt="">
                      </div>
                      <div class="testimonial--head-text media-body">
                        <h4>Andrew James</h4>
                        <p>CEO at Tut Tut Company Ltd</p>
                      </div>
                    </div>
                    <!--End of testimonial head -->

                    <!-- testimonial body -->
                    <div class="testimonial-body">
                      <span>
                        <img src="img/icons/quote.svg" alt="">
                      </span>
                      <p>“If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text. All the Lorem Ipsum the Internet ted be sure repeat.”
                      </p>
                    </div>
                    <!-- End of testimonial body -->
                  </div>
                </div>
                <!--End of single item -->

                <!-- single item -->
                <div class="item">
                  <div class="single-testimoial">
                    <!-- testimonial head -->
                    <div class="testimonial-head media">
                      <div class="testimonial-head-img">
                        <img src="img/testi&clients/testimonial4.jpg" alt="">
                      </div>
                      <div class="testimonial--head-text media-body">
                        <h4>Eamran Khan</h4>
                        <p>CEO at Tut Tut Company Ltd</p>
                      </div>
                    </div>
                    <!--End of testimonial head -->

                    <!-- testimonial body -->
                    <div class="testimonial-body">
                      <span>
                        <img src="img/icons/quote.svg" alt="">
                      </span>
                      <p>“If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text. All the Lorem Ipsum the Internet ted be sure repeat.”
                      </p>
                    </div>
                    <!-- End of testimonial body -->
                  </div>
                </div>
                <!--End of single item -->
                <!-- single item -->
                <div class="item">
                  <div class="single-testimoial">
                    <!-- testimonial head -->
                    <div class="testimonial-head media">
                      <div class="testimonial-head-img">
                        <img src="img/testi&clients/testimonial2.jpg" alt="">
                      </div>
                      <div class="testimonial--head-text media-body">
                        <h4>James Bond</h4>
                        <p>CEO at Tut Tut Company Ltd</p>
                      </div>
                    </div>
                    <!--End of testimonial head -->

                    <!-- testimonial body -->
                    <div class="testimonial-body">
                      <span>
                        <img src="img/icons/quote.svg" alt="">
                      </span>
                      <p>“If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text. All the Lorem Ipsum the Internet ted be sure repeat.”
                      </p>
                    </div>
                    <!-- End of testimonial body -->
                  </div>
                </div>
                <!--End of single item -->
                <!-- single item -->
                <div class="item">
                  <div class="single-testimoial">
                    <!-- testimonial head -->
                    <div class="testimonial-head media">
                      <div class="testimonial-head-img">
                        <img src="img/testi&clients/testimonial3.jpg" alt="">
                      </div>
                      <div class="testimonial--head-text media-body">
                        <h4>Akib Ullah</h4>
                        <p>CEO at Tut Tut Company Ltd</p>
                      </div>
                    </div>
                    <!--End of testimonial head -->

                    <!-- testimonial body -->
                    <div class="testimonial-body">
                      <span>
                        <img src="img/icons/quote.svg" alt="">
                      </span>
                      <p>“If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text. All the Lorem Ipsum the Internet ted be sure repeat.”
                      </p>
                    </div>
                    <!-- End of testimonial body -->
                  </div>
                </div>
                <!--End of single item -->
              </div>
            </div>
            <!--End of testimonial wrap -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of testimonial -->

    <!-- Crypdrone media/blog -->
    <section class="pt-130 pb-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div class="section-title text-center mb-30">
              <h2>Crypdrone Media</h2>
              <div class="underline-wrap">
                <div class="unerline">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <!-- End of section title -->
          </div>
        </div>
        <!-- our blog type5 -->
        <div class="our-blog-inner type5">
          <div class="row">
            <div class="col-md-4">
              <!-- single post -->
              <div class="single-post mb-30">
                <!-- post image -->
                <div class="post-image">
                  <a href="#">
                    <img src="img/blog/Img1.jpg" alt="" data-rjs="2">
                  </a>
                </div>
                <!--End of post image -->

                <!-- post content -->
                <div class="post-content">
                  <div class="post-info">
                    <a href="#"><span><i class="fa fa-clock-o"></i></span>2 June 2018</a>
                    <a href="#"><span><i class="fa fa-user"></i></span>Anjelio Joly</a>
                  </div>
                  <div class="post-main-heading">
                    <h4><a href="blog-details.html">The cord and ditch cable to order now reader will be distracted.</a>
                    </h4>
                  </div>
                </div>
                <!--End of post content -->
              </div>
              <!--End of single post -->
            </div>

            <div class="col-md-4">
              <!-- single post -->
              <div class="single-post mb-30">
                <!-- post image -->
                <div class="post-image">
                  <a href="#">
                    <img src="img/blog/Img2.jpg" alt="" data-rjs="2">
                  </a>
                </div>
                <!--End of post image -->

                <!-- post content -->
                <div class="post-content">
                  <div class="post-info">
                    <a href="#"><span><i class="fa fa-clock-o"></i></span>2 June 2018</a>
                    <a href="#"><span><i class="fa fa-user"></i></span>Anjelio Joly</a>
                  </div>
                  <div class="post-main-heading">
                    <h4><a href="blog-details.html">It is a long established fact that and reader will be
                        distracted.</a></h4>
                  </div>
                </div>
                <!--End of post content -->
              </div>
              <!--End of single post -->
            </div>

            <div class="col-md-4">
              <!-- single post -->
              <div class="single-post">
                <!-- post image -->
                <div class="post-image">
                  <a href="#">
                    <img src="img/blog/Img3.jpg" alt="" data-rjs="2">
                  </a>
                </div>
                <!--End of post image -->

                <!-- post content -->
                <div class="post-content">
                  <div class="post-info">
                    <a href="#"><span><i class="fa fa-clock-o"></i></span>2 June 2018</a>
                    <a href="#"><span><i class="fa fa-user"></i></span>Anjelio Joly</a>
                  </div>
                  <div class="post-main-heading">
                    <h4><a href="blog-details.html">EestablishedIt Is A Long Established Fact Distracted Arinza.</a>
                    </h4>
                  </div>
                </div>
                <!--End of post content -->
              </div>
              <!--End of single post -->
            </div>
          </div>
        </div>
        <!-- our blog type2 -->
      </div>
    </section>
    <!--End of Crypdrone media -->

    <% include ./partials/footer %>

    <!-- back to top -->
    <div class="back-to-top home6">
      <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- back to top -->
  </div>

  <!-- JS Files -->
  <!-- ==== JQuery 3.3.1 js file==== -->
  <script src="js/jquery-3.3.1.min.js"></script>

  <!-- ==== Bootstrap js file==== -->
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- ==== JQuery Waypoint js file==== -->
  <script src="plugins/waypoints/jquery.waypoints.min.js"></script>

  <!-- ==== Parsley js file==== -->
  <script src="plugins/parsley/parsley.min.js"></script>

  <!-- ==== Ratina js file==== -->
  <script src="plugins/retinajs/retina.min.js"></script>

  <!-- ==== parallax js==== -->
  <script src="plugins/parallax/parallax.js"></script>

  <!-- ==== Owl Carousel js file==== -->
  <script src="plugins/owl-carousel/owl.carousel.min.js"></script>

  <!-- ====Count down==== -->
  <script src="plugins/countdown/jquery.countdown.min.js"></script>

  <!-- ====Chart js file ==== -->
  <script src="plugins/chart-js/echarts.min.js"></script>

  <!-- ==== Menu  js file==== -->
  <script src="js/menu.min.js"></script>

  <!-- ====Magnific-Popup js file==== -->
  <script src="plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

  <!-- ====Counter js file=== -->
  <script src="plugins/waypoints/jquery.counterup.min.js"></script>

  <!--==== google map api key ====-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>

  <!-- ====matrial js file==== -->
  <script src="js/matrial.js"></script>

  <!-- ==== Script js file==== -->
  <script src="js/scripts.js"></script>

  <!-- ==== Custom js file==== -->
  <script src="js/custom.js"></script>
</body>

</html>