<!DOCTYPE html>
<html lang="en">
  <!-- Document Title -->
  <title>Nextbyte - Unlock Your Coding Skill for Freedom with Nextbyte</title>
  <head>
    <meta
      name="description"
      content="Nextbyte adalah coding bootcamp yang bertujuan membantu kamu untuk menjadi programmer yang professional dalam 10 minggu."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="favicon" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <!-- Start main wrapper -->
    <div class="main-wrapper home-page6">
      <% include ./partials/navbar %>

      <!-- banner section -->
      <section class="banner--wrapper-area banner-home6">
        <!-- banner home6 -->
        <div id="particle"></div>
        <div
          class="banner home-banner6 overlay6"
          data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
        >
          <div class="container">
            <div class="row">
              <div class="col-12">
                <!-- banner text inner -->
                <div class="banner--inner-text text-center">
                  <h1 data-animate="fadeInUp" data-delay=".2">
                    Unlock Your Coding Skill for Freedom
                  </h1>
                  <p data-animate="fadeInUp" data-delay=".4">
                    Menjadi programmer profesional yang terampil, bangun
                    aplikasimu dan berkolaborasi dengan tim. Dalam waktu 10
                    minggu kamu akan mengembangkan dirimu ke level yang belum
                    pernah kamu ekspektasikan sebelumnya.
                  </p>
                  <a
                    title="See Our Programs"
                    href="#programs"
                    class="btn btn-transparent style-1 waves-effect"
                    data-animate="fadeInUp"
                    data-delay=".6"
                    >Lihat Program</a
                  >
                </div>
                <div class="banner4-image-wrap text-center">
                  <!-- overlay bubble -->
                  <div class="overlay-bubble">
                    <img
                      src="img/banner/h4-dot-l.png"
                      alt="banner 3"
                      class="h4-dot-dot"
                    />
                    <img
                      src="img/banner/h4-dot-sml.png"
                      alt="banner 4"
                      class="h4-dot-small"
                    />
                  </div>
                  <!--End of overlay bubble -->

                  <!-- banner images -->
                  <div
                    class="main-image"
                    data-animate="fadeInUp"
                    data-delay=".8"
                  >
                    <img
                      src="img/banner.svg"
                      alt="banner images"
                      data-rjs="2"
                    />
                  </div>
                  <!-- End of banner images -->
                </div>
                <!-- banner text inner -->
              </div>
            </div>
          </div>
        </div>
        <!--End of banner home 06 -->
      </section>
      <!-- End of banner section -->

      <!-- Feature card section -->
      <section>
        <!-- feature card wrap -->
        <div class="feature-card-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/icons/ecosystem.png" alt="ecosystem" />
                    <h4>Huge ECOSYSTEM</h4>
                  </div>
                  <p>
                    Lebih dari 50 jaringan kerjasama, hiring partner dan
                    komunitas.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Jaminan karir.</li>
                      <li>Tergabung dalam komunitas.</li>
                      <li>Memperluas koneksi.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/icons/comfort.png" alt="comfort" />
                    <h4>Comfortable ENVIRONMENT</h4>
                  </div>
                  <p>
                    Suasana belajar yang nyaman dan seru namun tetep intens.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Feels like home.</li>
                      <li>Semakin produktif.</li>
                      <li>Menelurkan ide-ide kreatif.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/icons/mentor.png" alt="mentor" />
                    <h4>Amazing MENTORS</h4>
                  </div>
                  <p>
                    Tech Mentor yang sudah berpengalaman di dunia programming.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Melatih ilmu praktikal.</li>
                      <li>Mengasah logika dan algoritma.</li>
                      <li>Fast Learning.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/icons/programming.png" alt="programming" />
                    <h4>Using Latest TECHNOLOGY</h4>
                  </div>
                  <p>
                    Kurikulum yang up-to-date menyesuaikan dengan industri
                    digital terkini.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Learn tools / framework</li>
                      <li>Biar terus berkembang</li>
                      <li>Sesuai kebutuhan industri</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
            </div>
          </div>
        </div>
        <!-- End of feature card wrap -->
      </section>
      <!-- End of Feature card section -->

      <!-- about US -->
      <section class="pt-80 pb-50 vpn-patern">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <!-- about Images -->
              <div class="about-image text-center">
                <img src="img/next-byte.png" alt="nextbyte" />
              </div>
              <!-- End of about Images -->
            </div>
            <div class="col-md-7">
              <!-- about vpn wrap -->
              <div class="about--vpn-wrap">
                <h2>Apa itu Nextbyte?</h2>
                <p>
                  Nextbyte adalah sebuah lembaga kursus 'semi coding bootcamp'
                  yang bertujuan membantu kamu untuk menjadi programmer yang
                  professional, yang siap kerja dan bisa beradapatasi dengan
                  industri digital. Di Nextbyte, Kami akan membantu kamu untuk
                  menemukan jati diri kamu di industri digital, sehingga kamu
                  bisa lebih fokus dan passionate dalam menjalani peran mereka
                  masing-masing di industri digital. Ayo "Unlock Your Coding
                  Skill for Freedom with Nextbyte"
                </p>
                <a
                  title="Selengkapnya tentang Nextbyte"
                  href="/about"
                  class="btn btn-transparent style-3 waves-effect"
                  ><span>Selengkapnya</span>
                </a>
              </div>
              <!--End of about vpn wrap -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of about US -->

      <!-- All Stars Section-->
      <section class="pt-20 pb-20">
        <div class="container">
          <!-- domain step -->
          <div class="domain-step">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img
                    src="img/icons/process1.svg"
                    alt="process1"
                    class="svg"
                  />
                  <h4>Choose Your Class</h4>
                  <p>Ada dua kelas yang bisa Anda pilih satu atau keduanya.</p>
                </div>
                <!-- End of single domain step -->
              </div>

              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img
                    src="img/icons/payment-s4.svg"
                    alt="payment-s4"
                    class="svg"
                  />
                  <h4>Onsite Bootcamp</h4>
                  <p>
                    Pembelajaran mendalam onsite selama 10 minggu dengan materi
                    kurikulum terbaru.
                  </p>
                </div>
                <!-- End of single domain step -->
              </div>

              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img
                    src="img/icons/payment-s3.svg"
                    alt="payment-s3"
                    class="svg"
                  />
                  <h4>Profesional Programmer</h4>
                  <p>
                    Menjadi developer handal yang siap membuat produk digital
                    kreatif.
                  </p>
                </div>
                <!-- End of single domain step -->
              </div>
            </div>
          </div>
          <!-- End of Domain step -->
        </div>
      </section>
      <!-- End of All Stars Section-->

      <!-- What You Will Get -->
      <section class="pt-100 pb-100 home6-section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- included every package -->
              <div class="included-every-wrap type2">
                <h3>Apa Yang Akan Kamu Dapatkan</h3>
                <ul class="list-unstyled">
                  <li>
                    <span
                      ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                    ></span>
                    Skill pemograman fundamental yang solid
                  </li>
                  <li>
                    <span
                      ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                    ></span>
                    Mempelajari tools dan framework terkini
                  </li>
                  <li>
                    <span
                      ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                    ></span>
                    Berkolaborasi menggunakan Git & GitHub
                  </li>
                  <li>
                    <span
                      ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                    ></span>
                    Akses ke semua materi yang kami sediakan
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li>
                    <span
                      ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                    ></span>
                    Mengasah kemampuan logika dan algoritma
                  </li>
                  <li>
                    <span
                      ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                    ></span>
                    Membuat aplikasi berbasis mobile ataupun web
                  </li>
                  <li>
                    <span
                      ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                    ></span>
                    Membangun aplikasi dari front-end dan back-end
                  </li>
                  <li>
                    <span
                      ><i class="fa fa-dot-circle-o" aria-hidden="true"></i
                    ></span>
                    Mempelajari deployment ke web server / hosting
                  </li>
                </ul>
              </div>
              <!-- End of included every package -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of What You Will Get -->

      <!-- Hiring Partner -->
      <section class="pt-130 pb-70">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- included every package -->
              <div class="included-every-wrap type2">
                <h3>Hiring Partner</h3>
                <ul class="list-unstyled text-center">
                  <li>
                    <img src="img/logos/madhang.png" alt="madhang" />
                  </li>
                  <li>
                    <img src="img/logos/sinarmas.png" alt="sinarmas" />
                  </li>
                </ul>
              </div>
              <!-- End of included every package -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of Hiring Partner -->

      <!-- Programs -->
      <% include ./sections/program %>
      <!-- End of Programs -->

      <!-- testimonial -->
      <!-- End of testimonial -->
      <% include ./sections/newsletter %>

      <!-- Quotes -->
      <section class="pt-60 pb-50 quote">
        <blockquote>
          <p style="color:#40b281;">
            Any fool can write code
            <strong>that a computer can understand;</strong> Good programmers
            write code <strong>that humans can understand.</strong>
          </p>
          <cite>Martin Fowler</cite>
        </blockquote>
      </section>
      <!-- End of Quotes -->

      <!-- Maps Office Loc -->
      <div class="pt-50 pb-0">
        <div class="col-md-12">
          <!-- <div class="section-title type2 text-center mb-30">
            <h2>Temukan Kami</h2>
            <div class="underline-wrap">
              <div class="unerline">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div> -->
          <!-- google map -->
          <div class="google-map">
            <div id="google-map"></div>
          </div>
          <!-- End of google map -->
        </div>
      </div>
      <!-- End of Maps Office Loc -->
    </div>
    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
