<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <!-- Start main wrapper -->
    <div class="main-wrapper home-page6">
      <% include ./partials/navbar %>

      <!-- banner section -->
      <section class="banner--wrapper-area banner-home6">
        <!-- banner home6 -->
        <div id="particle"></div>
        <div
          class="banner home-banner6 overlay6"
          data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
        >
          <!-- overlay bubble -->
          <div class="overlay-bubble" data-trigger="parallax_layers">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6 offset-5">
                  <img
                    src="img/banner/h6-bg-shape.png"
                    alt=""
                    class="h6-dot-small"
                    data-depth="0.3"
                  />
                  <img
                    src="img/banner/h6-dot.png"
                    alt=""
                    class="h6-dot-dot"
                    data-depth="0.2"
                  />
                </div>
              </div>
            </div>
          </div>
          <!--End of overlay bubble -->
          <div class="container">
            <div class="row">
              <div class="col-12">
                <!-- banner text inner -->
                <div class="banner--inner-text text-center">
                  <h1 data-animate="fadeInUp" data-delay=".2">
                    Unlock your coding skill for freedom
                  </h1>
                  <p data-animate="fadeInUp" data-delay=".4">
                    Menjadi programmer profesional yang terampil, bangun aplikasimu dan berkolaborasi dengan tim.
                    Dalam waktu 10 minggu kamu akan mengembangkan dirimu ke level yang belum pernah kamu ekspektasikan sebelumnya.
                  </p>
                  <a
                    href="#programs"
                    class="btn btn-transparent style-1 waves-effect"
                    data-animate="fadeInUp"
                    data-delay=".6"
                    >Lihat Program</a
                  >
                </div>
                <div class="banner4-image-wrap text-center">
                  <!-- overlay bubble -->
                  <div class="overlay-bubble">
                    <img
                      src="img/banner/h4-dot-l.png"
                      alt=""
                      class="h4-dot-dot"
                    />
                    <img
                      src="img/banner/h4-dot-sml.png"
                      alt=""
                      class="h4-dot-small"
                    />
                  </div>
                  <!--End of overlay bubble -->

                  <!-- banner images -->
                  <div
                    class="main-image"
                    data-animate="fadeInUp"
                    data-delay=".8"
                  >
                    <img src="img/banner.svg" alt="" data-rjs="2" />
                  </div>
                  <!-- End of banner images -->
                </div>
                <!-- banner text inner -->
              </div>
            </div>
          </div>
        </div>
        <!--End of banner home 06 -->
      </section>
      <!-- End of banner section -->

      <!-- Feature card section -->
      <section>
        <!-- feature card wrap -->
        <div class="feature-card-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/programs/mobile-app.png" alt="" />
                    <h4>Huge ECOSYSTEM</h4>
                  </div>
                  <p>
                    Lebih dari 50 jaringan kerjasama, hiring partner dan komunitas.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Jaminan karir.</li>
                      <li>Tergabung dalam komunitas.</li>
                      <li>Memperluas koneksi.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/programs/frontend.png" alt="" />
                    <h4>Comfortable ENVIRONMENT</h4>
                  </div>
                  <p>
                    Suasana belajar yang nyaman dan seru namun tetep intens.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Feels like home.</li>
                      <li>Semakin produktif.</li>
                      <li>Menelurkan ide-ide kreatif.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/programs/backend.png" alt="" />
                    <h4>Amazing MENTORS</h4>
                  </div>
                  <p>
                    Tech Mentor yang sudah berpengalaman di dunia programming.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Melatih ilmu praktikal.</li>
                      <li>Mengasah logika dan algoritma.</li>
                      <li>Fast Learning.</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6">
                <!-- single feature card -->
                <div class="single-feature-card">
                  <!-- card head -->
                  <div class="feature-card-head media">
                    <img src="img/programs/ui-ux.png" alt="" />
                    <h4>Using Latest TECHNOLOGY</h4>
                  </div>
                  <p>
                    Kurikulum yang up-to-date menyesuaikan dengan industri digital terkini.
                  </p>
                  <!-- card head -->
                  <div class="feature-card-body">
                    <ul class="list-unstyled">
                      <li>Learn tools / framework</li>
                      <li>Biar terus berkembang</li>
                      <li>Sesuai kebutuhan industri</li>
                    </ul>
                  </div>
                  <!-- card body -->
                </div>
                <!--End of single feature card -->
              </div>
            </div>
          </div>
        </div>
        <!-- End of feature card wrap -->
      </section>
      <!-- End of Feature card section -->

      <!-- about US -->
      <section class="pt-80 pb-50 vpn-patern">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <!-- about Images -->
              <div class="about-image text-center">
                <img src="img/next-byte.png" alt="" />
              </div>
              <!-- End of about Images -->
            </div>
            <div class="col-md-7">
              <!-- about vpn wrap -->
              <div class="about--vpn-wrap">
                <h2>Apa itu Nextbyte?</h2>
                <p>
                  Nextbyte adalah sebuah lembaga kursus 'semi coding bootcamp' yang bertujuan membantu kamu untuk menjadi programmer yang professional, yang siap kerja dan bisa beradapatasi dengan industri digital. Di Nextbyte, Kami akan membantu kamu untuk menemukan jati diri kamu di industri digital, sehingga kamu bisa lebih fokus dan passionate dalam menjalani peran mereka masing-masing di industri digital.
                </p>
                <a href="/about" class="btn btn-transparent style-3 waves-effect"
                  ><span>Selengkapnya</span> <i class="fa fa-long-arrow-right"></i
                ></a>
              </div>
              <!--End of about vpn wrap -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of about US -->

      <!-- All Stars Section-->
      <section class="pt-20 pb-20">
        <div class="container">
          <!-- domain step -->
          <div class="domain-step">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img src="img/icons/process1.svg" alt="" class="svg" />
                  <h4>Choose Your Class</h4>
                  <p>Ada dua kelas yang bisa Anda pilih satu atau keduanya.</p>
                </div>
                <!-- End of single domain step -->
              </div>

              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img src="img/icons/payment-s4.svg" alt="" class="svg" />
                  <h4>Onsite Bootcamp</h4>
                  <p>
                    Pembelajaran mendalam onsite selama 10 minggu dengan materi kurikulum terbaru.
                  </p>
                </div>
                <!-- End of single domain step -->
              </div>

              <div class="col-md-4">
                <!-- single domain step -->
                <div class="single-domain-step text-center">
                  <img src="img/icons/payment-s3.svg" alt="" class="svg" />
                  <h4>Profesional Programmer</h4>
                  <p>
                    Menjadi developer handal yang siap membuat produk digital kreatif.
                  </p>
                </div>
                <!-- End of single domain step -->
              </div>
            </div>
          </div>
          <!-- End of Domain step -->
        </div>
      </section>
      <!-- End of All Stars Section-->

      <!-- What You Will Get -->
      <section class="pt-100 pb-100 home6-section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- included every package -->
                <div class="included-every-wrap type2">
                  <h3>Apa Yang Akan Kamu Dapatkan</h3>
                  <ul class="list-unstyled">
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Skill pemograman fundamental yang solid
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Mempelajari tools dan framework terkini
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Berkolaborasi menggunakan Git & GitHub
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Akses ke semua materi yang kami sediakan
                    </li>
                </ul>
                  <ul class="list-unstyled">
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Mengasah kemampuan logika dan algoritma
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Membuat aplikasi berbasis mobile ataupun web
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Membangun aplikasi dari front-end dan back-end
                    </li>
                    <li>
                      <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                      Mempelajari deployment ke web server
                    </li>
                  </ul>
                </div>
                <!-- End of included every package -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of What You Will Get -->

      <!-- Hiring Partner -->
      <section class="pt-130 pb-70">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- included every package -->
              <div class="included-every-wrap type2">
                <h3>Hiring Partner</h3>
                <ul class="list-unstyled">
                  <li>
                    <img src="img/logos/circledoo.png" alt="circledoo" />
                  </li>
                  <li>
                    <img src="img/logos/mbcap.png" alt="mbcap" />
                  </li>
                  <li>
                    <img src="img/logos/myForce.png" alt="myForce" />
                  </li>
                  <li>
                    <img src="img/logos/princessa.png" alt="princessa" />
                  </li>
                </ul>
              </div>
              <!-- End of included every package -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of Hiring Partner -->

      <!-- Community Partner -->
      <section class="pt-10 pb-100">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- included every package -->
              <div class="included-every-wrap type2">
                <h3>Community Partner</h3>
                <ul class="list-unstyled">
                  <li>
                    <img src="img/logos/circledoo.png" alt="circledoo" />
                  </li>
                  <li>
                    <img src="img/logos/mbcap.png" alt="mbcap" />
                  </li>
                  <li>
                    <img src="img/logos/myForce.png" alt="myForce" />
                  </li>
                  <li>
                    <img src="img/logos/princessa.png" alt="princessa" />
                  </li>
                </ul>
              </div>
              <!-- End of included every package -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of Community Partner -->

      <!-- start zigzag area type2 -->
      <section>
        <div
          class="zigzag-inner type2 pt-90 pb-90"
          data-bg-img="img/syllabus.png"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6">
                <!-- zigzag wrap -->
                <div class="zigzag-wrap">
                  <h3>
                    Penasaran dengan materi kurikulum Nextbyte ?<br/>Download Silabus disini!
                  </h3>
                  <p>
                      Dapatkan silabus pembelajaran lengkap tentang Mobile Development dan Web Development. Anda akan mendapatkan berita dan info tentang teknologi terbaru yang menarik dari kami.
                  </p>
                    <form action="" method="post" novalidate>
                      <!-- form group -->
                      <div class="form-group">
                        <input
                          type="email"
                          name="email"
                          class="syllabus-style-input"
                          placeholder="Email Kamu..."
                          required
                        />
                      </div>
                    </form>
                  <a href="#" class="btn btn-transparent style-1 waves-effect">Download</a>
                </div>
                <!-- End of zigzag wrap -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End of zigzag area type2 -->

      <!-- pricing plan -->
      <section id="programs" class="pt-130 pb-60">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-8">
              <!-- section title -->
              <div class="section-title type2 text-center mb-30">
                <h2>Program Harga</h2>
                <div class="underline-wrap">
                  <div class="unerline">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
              <!-- End of section title -->
            </div>
          </div>

          <!-- pricecing plan type 2 -->
          <div class="pricing-plan type2">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <!-- single pricing plan -->
                <div class="single--pricing-plan active waves-effect">
                  <!--plan top -->
                  <div class="pricing-plan-top">
                    <div class="plan-top-head">
                      <h4>Mobile Applicaton</h4>
                      <div class="underline-wrap">
                        <div class="unerline theme-color">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                    </div>

                    <!-- plan top head text -->
                    <div class="plantop-head-text">
                      <h3 class="h2"><span>Rp </span>15,000,000</h3>
                      <div class="head-text-float">
                        <span>.00</span>
                        <span>/class</span>
                      </div>
                    </div>
                    <!--End of plan top head text -->
                  </div>
                  <!--End of plan top -->

                  <!-- pricing body -->
                  <div class="pricing-plan-body">
                    <p>
                      You will learn how to build a mobile application (Android
                      & iOS) that is ready to be uploaded to the playstore.
                    </p>
                    <ul class="list-unstyled">
                      <li>
                        - Create a mockup design
                      </li>
                      <li>
                        - Develop wih the latest tools
                      </li>
                      <li>
                        - Build app using Dart and Flutter
                      </li>
                    </ul>
                    <a href="#" class="btn btn-fill"
                      ><span><i class="fa fa-credit-card"></i></span>Apply</a
                    >
                  </div>
                  <!--End of pricing body -->
                </div>
                <!-- End of single pricing plan -->
              </div>
              <div class="col-md-4">
                <!-- single pricing plan -->
                <div class="single--pricing-plan waves-effect">
                  <!--plan top -->
                  <div class="pricing-plan-top">
                    <div class="plan-top-head">
                      <h4>Frontend with Firebase</h4>
                      <div class="underline-wrap">
                        <div class="unerline theme-color">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                    </div>

                    <!-- plan top head text -->
                    <div class="plantop-head-text">
                      <h2 class="h2"><span>Rp </span>12,000,000</h2>
                      <div class="head-text-float">
                        <span>.00</span>
                        <span>/class</span>
                      </div>
                    </div>
                    <!--End of plan top head text -->
                  </div>
                  <!--End of plan top -->

                  <!-- pricing body -->
                  <div class="pricing-plan-body">
                    <p>
                      You will learn how to build a semi fullstack web
                      development on the client side and on the server side.
                    </p>
                    <ul class="list-unstyled">
                      <li>
                        - Learn Programming Fundamentals
                      </li>
                      <li>
                        - Build a responsive web app
                      </li>
                      <li>
                        - Use the latest tools & framework
                      </li>
                    </ul>
                    <a href="#" class="btn btn-fill"
                      ><span><i class="fa fa-credit-card"></i></span>Apply</a
                    >
                  </div>
                  <!--End of pricing body -->
                </div>
                <!-- End of single pricing plan -->
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <!-- End of pricing plan type 2 -->
        </div>
      </section>
      <!-- End of pricing plan -->

      <!-- testimonial -->
      <section class="pt-130 pb-130 home6-team-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-8">
              <!-- section title -->
              <div class="section-title text-center mb-30">
                <h2>Testimonial</h2>
                <div class="underline-wrap">
                  <div class="unerline">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
              <!-- End of section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- testimonial wrap type4-->
              <div class="testimonial-wrap type4">
                <div class="owl-carousel testimonial-carousel">
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/panji.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Panji Gumelar</h4>
                          <p>Software Engineer</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “Software Developer who are passionate about building
                          Web or Mobile Applications. Science and technology
                          revolutionize our lives, but memory, tradition and
                          myth frame our response.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->

                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/gatot.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Azerino Gatot Subroto</h4>
                          <p>Software Engineer</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “This is the whole point of technology. It creates an
                          appetite for immortality on the one hand. It threatens
                          universal extinction on the other. Technology is lust
                          removed from nature.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/arsyad.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Arsyad Sukma Ramadhan</h4>
                          <p>Software Engineer</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “All of the biggest technological inventions created
                          by man - the airplane, the automobile, the computer -
                          says little about his intelligence, but speaks volumes
                          about his laziness.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/raga.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Raga Subekti</h4>
                          <p>Software Engineer</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “The real danger is not that computers will begin to
                          think like men, but that men will begin to think like
                          computers.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/daud.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Immanuel Daud</h4>
                          <p>Lead Software Engineer</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “Experienced Frontend Web Developer with a
                          demonstrated history of working in the logistics and
                          supply chain industry. Skilled in React.js, Redux,
                          Express.js and MySQL. Graduated from Purwadhika
                          Startup School.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/ali.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Ali Aidid</h4>
                          <p>Head of Product & Operation</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “Experienced IT Support, Technician, and Software
                          Engineer. Now i'm Focus on Nextbyte.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/davi.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Rachmad Isdawan Saputra</h4>
                          <p>Chief Executive Officer</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “High passionate man with fully spirit of building
                          social impact through technology. Constantly works in
                          digital business which contribute to support the
                          cities by utilizing which contribute to support the
                          cities by.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/fuadit.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Fuadit Muhammad</h4>
                          <p>Chief Technology Officer</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “Start from curiosity became deep passion of
                          programming bring his carier to the next level.
                          Involving in many startups building made his
                          experiences wilder.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/eko.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Rachmad Eko Pranoto</h4>
                          <p>Advisor</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “With daily activity as a lecturer at Politeknik
                          Negeri Jakarta he also worked as a digital branding
                          consultant and founder of Thincative Digital Media.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/michael.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Michael Irsano</h4>
                          <p>Advisor</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “With great experience in multisector industries,
                          making he has a lot of user experience that will bring
                          the team stronger and sharper.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                  <!-- single item -->
                  <div class="item">
                    <div class="single-testimoial">
                      <!-- testimonial head -->
                      <div class="testimonial-head media">
                        <div class="testimonial-head-img">
                          <img src="img/team/dani.jpg" alt="" />
                        </div>
                        <div class="testimonial--head-text media-body">
                          <h4>Dani Rakhmadi</h4>
                          <p>Advisor</p>
                        </div>
                      </div>
                      <!--End of testimonial head -->

                      <!-- testimonial body -->
                      <div class="testimonial-body">
                        <span>
                          <img src="img/icons/quote.svg" alt="" />
                        </span>
                        <p>
                          “As a leading senior that has speciality in
                          information technology and communication, he has moe
                          than 10 years of experience and knowledge combined in
                          test & measurement, direction finding, IT Solution in
                          Govt and Cellular Industry.”
                        </p>
                      </div>
                      <!-- End of testimonial body -->
                    </div>
                  </div>
                  <!--End of single item -->
                </div>
              </div>
              <!--End of testimonial wrap -->
            </div>
          </div>
        </div>
      </section>
      <!-- End of testimonial -->

      <!-- Maps Office Loc -->
      <div class="">
        <div class="col-md-12">
          <!-- google map -->
          <div class="google-map">
            <div id="google-map"></div>
          </div>
          <!-- End of google map -->
        </div>
      </div>
      <!-- End of Maps Office Loc -->
    </div>
    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
