<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document Title -->
    <title>Nextbyte - <%= title %></title>
    <meta
      name="description"
      content="Mobile Development adalah full training program selama 10 minggu dimana kamu akan di bimbing oleh mentor kami yang tentunya sudah ahli di bidangnya. Mulai dari hal yang fundamental sampai kamu bisa membuat aplikasi kamu sendiri."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="favicon" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <% include ./partials/navbar %>

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Mobile Development Programs</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">Program > Mobile Development</a></li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!-- coming soon  inner -->
    <section class="term-background pt-100 pb-100">
      <div data-animate="fadeInUp" data-delay="1.5" class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- section title -->
            <div class="section-title type4 mb-30">
              <span class="dosis about-page-subtitle">Program Overview</span>
              <h1 class="overview-title">
                Ayo Buat Aplikasi Mobile Kamu Sendiri
              </h1>
            </div>
            <!-- End of section title -->

            <!-- about our company -->
            <div class="overview-content">
              <p>
                Mobile Development adalah full training program selama 10 minggu
                dimana kamu akan di bimbing oleh mentor kami yang tentunya sudah
                ahli di bidangnya. Mulai dari hal yang fundamental sampai kamu
                bisa membuat aplikasi kamu sendiri.
              </p>
              <p>
                Terbuka untuk kamu berlatar belakang IT maupun non-IT , karena
                disini kamu akan diajarkan membangun aplikasi mobile
                multiplatform Android dan IOS dari arsitektur frontend dan juga
                arsitektur backend. Diajarkan secara terstruktur dan secara
                lengkap serta bebas untuk melakukan diskusi dengan mentor.
              </p>
              <a
                href="#mobileSylabus"
                class="btn btn-transparent waves-effect style-4"
                >Get Started</a
              >
            </div>
            <!-- End of about our company -->
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </section>
    <!-- Timeline -->
    <div id="mobileSylabus">
      <section>
        <% include ./sections/mobile-development %>
      </section>
    </div>
    <!-- End of Timeline -->

    <!-- Activity -->
    <% include ./partials/agenda %>
    <!-- End of Activity -->

     <!-- Priceing  -->
     <section id="programs" class="home6-section-bg-2 pt-80 pb-60">
      <div class="container" data-animate="fadeInUp">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div class="text-center mb-30">
              <h1 style="color: #51dfa2;">Biaya Program</h1>
            </div>
            <!-- End of section title -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">
            <div class="style-four">
              <del>
                <span class="amount">Rp15,000,000<sup>.00</sup></span>
              </del>
              <ins>
                <span class="amount">Rp9,000,000<sup>.00</sup></span>
              </ins>
              <hr>
              <div>
                <p>Biaya tersebut sudah mencakup administrasi dan seluruh operasional selama proses bootcamp berlangsung</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>

    <!-- End of Pricing -->


    <!-- Card Cicilan -->

    <% include ./partials/cicilan %>

    <!-- End of Card Ciclan -->

    <% include ./partials/registerlink %>
    
    <!-- Newsletter -->

    <% include ./sections/newsletter %>

    <!-- End of Newsletter -->


    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
