<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <% include ./partials/navbar %>

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Mobile Development Programs</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">Program > Mobile Development</a></li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!-- coming soon  inner -->
    <section>
      <div class="coming-full-width term-background">
        <!-- coming image -->
        <div class="coming-right-img d-none d-lg-block"></div>
        <!-- End of coming image -->
        <div class="container" data-animate="fadeInUp" data-delay="1.05">
          <div class="row">
            <div class="col-md-9 col-lg-5 pr-md-0">
              <!-- error text -->
              <div class="coming-text-inner">
                <h4>Comming Soon</h4>
                <h1>We are doing great, Almost done...</h1>
                <p>
                  Curabitur varius sodales dui, a pellentesque purus fermentum
                  id. Mauris aliquam ut felis sit amet pellentesque.
                </p>
                <div class="error-form">
                  <form action="#" class="primary-form parsley-validate">
                    <input type="text" class="error-input" required />
                    <button type="submit">Notify Me</button>
                  </form>
                </div>
                <div class="coming-social-area">
                  <ul class="coming-social-list list-unstyled">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-whatsapp"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End of error text -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of coming soon inner -->

    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
