<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document Title -->
    <title>Nextbyte - <%= title %></title>

    <meta
      name="description"
      content="Program beasiswa Nextbyte untuk mobile development selama 1 bulan."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body>
    <!-- Preloader -->
    <!-- <div class="preLoader">
      <div class="preload-img">
        <img
          src="https://res.cloudinary.com/nextbyte-co/image/upload/v1558706314/nextbyte-web/favicon_cid6ul.png"
          alt="favicon"
          class="pre-img"
        />
      </div>
    </div> -->
    <!-- End Of Preloader -->

    <% include ./partials/navbar %>

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Scholarship Programs</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/" title="Home">Home</a></li>
                  <li><a href="#" title="Scholarship">Scholarship</a></li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!-- contact section -->
    <section
      class="vpn-patern pt-130"
      data-animate="fadeInUp"
      data-delay="0.65"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <!-- contact info -->
            <div class="contact-form-info">
              <h2 class="about-page-title">Tentang Beasiswa</h2>
              <p>
                Kami percaya bahwa perempuan bisa menjadi programmer dan
                menjalani pekerjaan impiannya di dunia IT. Nextbyte hadir dengan
                program full beasiswa untuk membantu kamu mewujudkan impian
                kamu.
              </p>
            </div>
            <!-- End of contact info -->
            <div class="row">
              <div class="col-md-10">
                <!-- contact form -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- google map -->
            <div class="google-map">
              <!-- <div id="google-map"></div> -->
            </div>
            <!-- End of google map -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of contact section -->

    <!-- 1 Month Later -->
    <section id="programs" class="vpn-patern pt-60 pb-60">
      <div
        data-animate="fadeInUp"
        data-delay="0.7"
        class="container pricing-plan type2"
      >
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="table-activity justify-center">
              <!-- error text -->
              <h2 class="pt-30 scholarship-title">Women in Tech</h2>
              <h4 class="pb-30 after-title">
                Tahukah kamu apa itu Women in Tech Scholarship dari Nextbyte ?
              </h4>
            </div>
            <!-- End of error text -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of 1 month later -->

    <!-- contact section -->
    <section
      class="vpn-patern pt-60 pb-130"
      data-animate="fadeInUp"
      data-delay="0.65"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <!-- google map -->
            <div class="google-map">
              <img
                src="https://res.cloudinary.com/nextbyte-co/image/upload/v1560854119/nextbyte-web/isoMed-optometrist-01_akxo2f.png"
                alt="Bootcamp Women in Tech"
              />
            </div>
            <!-- End of google map -->
          </div>
          <div class="col-md-6">
            <!-- contact info -->
            <div class="contact-form-info">
              <h2 class="about-page-title">
                Nextbyte Women in Tech Scholarship
              </h2>
              <p>
                Program beasiswa Nextbyte untuk perempuan yang ingin meraih
                pekerjaan impian sebagai
                <strong> Mobile Engineer </strong> dengan mengikuti kelas mobile
                development selama 1 bulan. Program ini berlangsung dari pagi
                pukul 09:00 hinggan sore pukul 16:00 selama lima hari dalam
                seminggu, senin sampai jum'at.
              </p>
              <b style="color: #6d6d6d">Syarat dan Ketentuan</b>
              <ul class="scholarship-list">
                <li>Usia 18 - 30 Tahun</li>
                <li>Pendidikan minimal SMA/SMK/Sederajat</li>
                <li>Memiliki Laptop</li>
              </ul>
              <p>
                *terakhir pendaftaran tanggal 27 Juni 2019
              </p>
              <a
                title="Ayo Daftar Sekarang!"
                href="/scholarship-register"
                class="button-scholarship"
                >Daftar Sekarang</a
              >
            </div>
            <!-- End of contact info -->
            <div class="row">
              <div class="col-md-10">
                <!-- contact form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of contact section -->

    <!-- End of visite us -->
    <script src="js/contact.js"></script>

    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
