<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document Title -->
    <title>Nextbyte - <%= title %></title>
    <meta
      name="description"
      content="Website Development adalah full training program selama 10 minggu dimana kamu akan di bimbing untuk membangun Website kamu sendiri secara tepat dan efisien."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="favicon" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <% include ./partials/navbar %>

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Website Development Programs</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/" title="Home">Home</a></li>
                  <li>
                    <a href="#" title="Program - Website Development"
                      >Program > Website Development</a
                    >
                  </li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->
    <!-- coming soon  inner -->
    <section class="term-background pt-100 pb-100">
      <div data-animate="fadeInUp" data-delay="1.5" class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- section title -->
            <div class="section-title type4 mb-30">
              <span class="dosis about-page-subtitle">Program Overview</span>
              <h1 class="overview-title">
                Ayo Buat Website Kamu Sendiri
              </h1>
            </div>
            <!-- End of section title -->

            <!-- about our company -->
            <div class="overview-content">
              <p>
                Website Development adalah full training program selama 10
                minggu dimana kamu akan di bimbing untuk membangun Website kamu
                sendiri secara tepat dan efisien.
              </p>
              <p>
                Program ini terbuka untuk kamu berlatar belakang IT maupun
                non-IT , karena disini kamu akan dibimbing membangun Website
                dari arsitektur frontend dan juga arsitektur backend.
                Menggunakan framework - framework ter-update dan kekinian,
                diajarkan secara terstruktur dan secara lengkap serta bebas
                untuk melakukan diskusi dengan mentor.
              </p>
              <a
                title="Get Started"
                href="#websiteSylabus"
                class="btn btn-transparent waves-effect style-4"
                >Get Started</a
              >
            </div>
            <!-- End of about our company -->
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </section>

    <!-- Timeline -->
    <div id="websiteSylabus">
      <section>
        <% include ./sections/fullstack-web %>
      </section>
    </div>
    <!-- End of Timeline -->

    <!-- Activity -->
    <% include ./partials/agenda %>
    <!-- End of Activity -->

    <!-- pricecing plan type 2 -->
    <section id="programs" class="vpn-patern pt-80 pb-60">
      <div data-animate="fadeInUp" data-delay="0.5" class="pricing-plan type2">
        <h2 class="about-page-title text-center pb-30">Biaya Program</h2>
        <div class="row justify-content-center">
          <div class="col-md-3">
            <!-- single pricing plan -->
            <div class="single--pricing-plan active waves-effect">
              <!--plan top -->
              <div class="pricing-plan-top">
                <div class="plan-top-head">
                  <h4>Website Development</h4>
                  <div class="underline-wrap">
                    <div class="unerline theme-color">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <!-- plan top head text -->
                <div class="plantop-head-text">
                  <h3 class="h2 price-bootcamp"><span>Rp </span>25,000,000</h3>
                </div>
                <div class="plan-top-head">
                  <h4>Now Only</h4>
                  <div class="underline-wrap">
                    <div class="unerline theme-color">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="plantop-head-text">
                  <h3 class="h2"><span>Rp </span>&nbsp;18,000,000</h3>
                </div>
                <!--End of plan top head text -->
              </div>
              <p class="sdkb">*Syarat dan ketentuan berlaku.</p>
              <!--End of plan top -->
            </div>
            <!-- End of single pricing plan -->
          </div>
        </div>
      </div>
    </section>
    <!-- end of pricecing plan type 2 -->

    <!-- Card Cicilan -->
    <% include ./partials/cicilan %>
    <!-- End of Card Ciclan -->

    <!-- Register  -->
    <section id="programs" class="vpn-patern pt-80 pb-60">
      <div data-animate="fadeInUp" data-delay="0.5" class="pricing-plan type2">
        <h2 class="about-page-title text-center pb-30">Jadwal Program</h2>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <!-- single pricing plan -->
            <div class="single--pricing-plan active waves-effect">
              <!--plan top -->
              <div class="pricing-plan-top">
                <div class="plan-top-head">
                  <h4>Website Development < Batch 1 /></h4>
                  <div class="underline-wrap">
                    <div class="unerline theme-color">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
                <!-- plan top head text -->
                <div class="plantop-head-text justify-content-center">
                  <h3>1 Juli 2019 - < 10 Weeks /></h3>
                </div>
                <hr
                  style="height:3px; border:none; color:#fff; background-color: #fff;"
                />
                <div class="plantop-head-text text-center row">
                  <div class="col-md-6">
                    <h4>Mon - Fri</h4>
                  </div>
                  <div class="col-md-6">
                    <h4>09:00 - 16:00</h4>
                  </div>
                </div>
                <hr
                  style="height:3px; border:none; color:#fff; background-color: #fff;"
                />
                <div class="text-center pt-30">
                  <a
                    title="Daftar Sekarang"
                    href="/register"
                    class="button-jadwal"
                    style="border: 1px solid white"
                    >Daftar Sekarang</a
                  >
                </div>

                <!--End of plan top head text -->
              </div>
              <!--End of plan top -->
            </div>
            <!-- End of single pricing plan -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of Register -->

    <!-- Newsletter -->
    <% include ./sections/newsletter %>
    <!-- End of Newsletter -->

    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
