/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/

.about-image {
  margin-top: 100px;
}

.list-unstyled img {
  width: 200px;
}

/* ============== about page style =================== */
.about-paragraph {
  font-size: 13pt;
}

.about-page-title {
  color: #40a798 !important;
}

.about-page-subtitle {
  color: #63c3b5 !important;
}

.about-page-banner {
  color: #ffffff !important;
}

.about-a {
  color: #ffffff !important;
}

.about-a:hover {
  color: #f0f0f0 !important;
}

/* ============== term page style =================== */

.term-background {
  background: #424242 !important;
}

/* ============== footer page style =================== */
.footer-a {
  color: #f3f3f3 !important;
}

.footer-a:hover {
  color: #63c3b5 !important;
}

/* ============== mobile page style =================== */
.footer-a:hover {
  color: #63c3b5 !important;
}
